<footer>
    <div class="facebook">
        <div class="row">
            <div class="small-12 columns">
                <p>Seuraa meitä Facebookissa: <a href="http://facebook.com/loviisanwanhattalot">www.facebook.com/loviisanwanhattalot</a></p>
            </div>
        </div>
    </div>
    <div class="row" data-equalizer>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            <li data-equalizer-watch>
                <h5>Yhteydenotot</h5>
                <p><a href="mailto:loviisanwanhattalot@gmail.com" class="mail-inverse">loviisanwanhattalot@gmail.com</a></p>
            </li>
            <li data-equalizer-watch>
                <h5>Projektipäällikkö,<br/>Näytteilleasettajat Suolatorilla</h5>
                <p>Ann-Britt Felin-Aalto<br/>
                    <a href="tel:+358400516032">040 051 6032</a><br/>
                    <a href="mailto:abfelin@gmail.com">abfelin@gmail.com</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Tuottaja / tiedottaja</h5>
                <p>Maria Schulgin<br/>
                    <a href="tel:+358440531409">044 053 1409</a><br/>
                    <a href="mailto:maria.schulgin@gmail.com">maria.schulgin@gmail.com</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Loviisan Wanhat Talot-messulehti</h5>
                <p>toteuttaja Itäväylä<br/>
                    Ilmoitusmyynti Maija Laine, myyntipäällikkö<br/>
                    <a href="tel:+358405472993">040 547 2993</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>ITU-tori</h5>
                <p>Järjestäjä: Itä-Uudenmaan Kylät ry<br/>Yhteyshenkilö: Li-Marie Santala<br/>
                    <a href="tel:+3580401588038">040 158 8038</a><br/>
                    <a href="mailto:info@itukylat.fi">info@itukylat.fi</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Keräilymessut</h5>
                <p>Lovisa Gymnasium<br/>
                    Eddie Bruce<br/>
                    <a href="mailto:eddie.bruce@kolumbus.fi">eddie.bruce@kolumbus.fi</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Loviisa Vintage & Retro</h5>
                <p>Harri Koste<br/>
                    <a href="tel:+358417074808">041 707 4808</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Käsityö- ja syysmarkkinat</h5>
                <p>Laivasilta<br/>
                    Anita Laakso<br/>
                    <a href="tel:+358400164878">0400 164 878</a>
                </p>
            </li>
            <li data-equalizer-watch>
                <h5>Toripaikat</h5>
                <p>Loviisa<br/>
                    Teija Aalto<br/>
                    <a href="tel:+358445651188">044 565 1188</a>
                </p>
            </li>
        </ul>
    </div>
</footer></body>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    $(document).foundation({
        orbit: {
            bullets: true,
            slide_number: false,
            timer_speed: 5000,
            pause_on_hover: false,
            timer: true
        }});
</script>
<script src="http://www.google-analytics.com/ga.js"></script></html>
