<footer>
    <div class="facebook">
        <div class="row">
            <div class="medium-6 columns text-center">
                <p><%= t('footer.facebook') %>: <a href="http://facebook.com/loviisanwanhattalot"><img class="fb" src="/img/facebook.png" alt="Facebook"></a></p>
            </div>
            <div class="medium-6 columns text-center">
                <p><%= t('footer.lippupalvelu') %>:
                    <a href="http://www.lippupalvelu.fi/event/loviisan-wanhat-talot-30-3182014-lippuja/138369"><img class="ticketmaster" src="/img/lippupalvelu.png" alt="lippupalvelu"></a>
                </p>
            </div>
        </div>
    </div>
    <div class="prizes show-for-medium-up">
        <div class="row" data-equalizer>
            <ul class="large-block-grid-3">
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.a') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.b') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.c') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.d') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.e') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.f') %></p>
                </li>
                <li data-equalizer-watch>
                    <p><%= t('footer.prizes.g') %></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="row" data-equalizer>
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <li data-equalizer-watch>
                    <h5><%= t('footer.yhteydenotot') %></h5>
                    <p><a href="mailto:loviisanwanhattalot@gmail.com" class="mail-inverse">loviisanwanhattalot@gmail.com</a></p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.projektipaallikko') %></h5>
                    <p>Ann-Britt Felin-Aalto<br/>
                        <a href="tel:+358400516032">040 051 6032</a><br/>
                        <a href="mailto:abfelin@gmail.com">abfelin@gmail.com</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.tiedottaja') %></h5>
                    <p>Maria Schulgin<br/>
                        <a href="tel:+358440531409">044 053 1409</a><br/>
                        <a href="mailto:maria.schulgin@gmail.com">maria.schulgin@gmail.com</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.messulehti') %></h5>
                    <p><%= t('footer.ilmoitusmyynti') %><br/>
                        <a href="tel:+358405472993">040 547 2993</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.itutori') %></h5>
                    <p><%= t('footer.itauudenmaankylat') %><br/>
                        <a href="tel:+3580401588038">040 158 8038</a><br/>
                        <a href="mailto:info@itukylat.fi">info@itukylat.fi</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><a href="http://www.kolumbus.fi/lovthk/Collectors.htm"><%= t('footer.kerailymessut') %></a></h5>
                    <p>Lovisa Gymnasium<br/>
                        Eddie Bruce<br/>
                        <a href="tel:+358449759120">044 975 9120</a><br/>
                        <a href="mailto:eddie.bruce@kolumbus.fi">eddie.bruce@kolumbus.fi</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.syysmarkkinat') %></h5>
                    <p><%= t('footer.laivasilta') %><br/>
                        Anita Laakso<br/>
                        <a href="tel:+358400164878">0400 164 878</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.toripaikat') %></h5>
                    <p><%= t('footer.loviisa') %><br/>
                        Teija Aalto<br/>
                        <a href="tel:+358445651188">044 565 1188</a>
                    </p>
                </li>
                <li data-equalizer-watch>
                    <h5><%= t('footer.antiikkimarkkinat') %></h5>
                    <p><%= t('footer.aleksanterinkatu') %><br/>
                        Roobertin Osto- ja Myyntiliike Ky<br/>
                        <a href="http://www.antique-design-hall.com">www.antique-design-hall.com</a><br/>
                        <a href="mailto:raimo.ranta-mikkula@kolumbus.fi">raimo.ranta-mikkula@kolumbus.fi</a><br/>
                        <a href="tel:+358500465763">0500 465763</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    $(document).foundation({
        orbit: {
            bullets: true,
            slide_number: false,
            timer_speed: 5000,
            pause_on_hover: false,
            timer: true
        }});
</script>
<script src="http://www.google-analytics.com/ga.js"></script></html></body>