<div class="row">
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Yhteydenotot</dt>
            <dd><a href="mailto:loviisanwanhattalot@gmail.com" class="mail-inverse">loviisanwanhattalot@gmail.com</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Projektipäällikkö,<br/>Näytteilleasettajat Suolatorilla</dt>
            <dd>Ann-Britt Felin-Aalto<br/>
                <a href="tel:+358400516032">040 051 6032</a><br/>
                <a href="mailto:abfelin@gmail.com">abfelin@gmail.com</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Tuottaja / tiedottaja</dt>
            <dd>Maria Schulgin<br/>
                <a href="tel:+358440531409">044 053 1409</a><br/>
                <a href="mailto:maria.schulgin@gmail.com">maria.schulgin@gmail.com</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Loviisan Wanhat Talot-messulehti</dt>
            <dd>toteuttaja Itäväylä<br/>
                Ilmoitusmyynti Maija Laine, myyntipäällikkö<br/>
                <a href="tel:+358405472993">040 547 2993</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>ITU-tori</dt>
            <dd><a href="mailto:info@itukylat.fi">info@itukylat.fi</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Keräilymessut</dt>
            <dd>Lovisa Gymnasium<br/>
                Eddie Bruce<br/>
                <a href="mailto:eddie.bruce@kolumbus.fi">eddie.bruce@kolumbus.fi</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Loviisa Vintage & Retro</dt>
            <dd>Harri Koste<br/>
                <a href="tel:+358417074808">041 707 4808</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Käsityö- ja syysmarkkinat</dt>
            <dd>Laivasilta<br/>
                Anita Laakso<br/>
                <a href="tel:+358400164878">0400 164 878</a></dd>
        </dl>
    </div>
    <div class="large-3 medium-4 columns">
        <dl>
            <dt>Toripaikat</dt>
            <dd>Loviisa<br/>
                Teija Aalto<br/>
                <a href="tel:+358445651188">044 565 1188</a></dd>
        </dl>
    </div>
</div></div>