#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/static/*' do
end

route '/static/*' do
  item.identifier.gsub(/htaccess/, '.htaccess').gsub(/\/static/, '').chop
end

compile '/stylesheet/' do
  filter :sass, syntax: :scss
end

route '/stylesheet/' do
  '/css/lwt.css'
end

compile '/2-kohteet/' do
  filter :kramdown
  layout 'houses'
  filter :relativize_paths, :type => :html
end

compile '/2-kohteet/*', :rep => :thumbnail do
  if item.binary?
    filter :thumbnailize, :size => '220x220'
  end
end

route '/2-kohteet/*', :rep => :thumbnail do
  if item.binary?
    item.identifier.gsub(/\/\d+-/, "/").chop + '-thumb.' + item[:extension]
  end
end

compile '/2-kohteet/*' do
  if !item.binary?
    filter :kramdown
    layout 'house'
    filter :relativize_paths, :type => :html
  end
end

compile '*' do
  if !item.binary?
    filter :kramdown
    layout 'default'
    filter :relativize_paths, :type => :html
  end
end

route '*' do
  def html_extension(i)
    # Write item with identifier /1-foo/ to /foo/index.html
    i.identifier.gsub(/\/\d+-/, "/") + 'index.html'
  end

  def route_html
    if item[:is_dir]
      "/dummy.html"
    elsif item.parent and item.parent[:is_dir] and item == item.parent.children[0]
      html_extension(item.parent)
    else
      html_extension(item)
    end
  end

  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.gsub(/\/\d+-/, "/").chop + '.' + item[:extension]
  else
    route_html
  end
end

layout '*', :erb
