<div class="news c">

<div class="item c">
	<h2>Rosornas charm i Lovisa 6.-8.7.2012: "ROSEN - K&Auml;RLEKENS BLOMMA"</h2>
	<p class="date">publicerade 16.1.2012</p>
	<p class="intro"><img class="thumb" src="images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="images/news_ruusujenhurmaa.jpg">Lovisa intas av rosor i m&aring;nga olika former under evenemanget Rosornas charm, som &auml;ger rum  6-8. juli 2012. <span class="readmore">L&auml;s mera..</span></p>
	<div class="more">
		<p>Rosor finns i rosentr&auml;dg&aring;rdarna i Lovisa och temat syns &auml;ven i form av poesi, musik och konst. Enskilda konstn&auml;rer st&auml;ller ut sin rosenkonst och professorer fr&aring;n Sankt Petersburgs bildkonstakademi l&auml;r ut pastellm&aring;lning med rosenmotiv p&aring; Repin-institutets kurser.  M&aring;larm&auml;stare Airi Kallio visar hur man g&ouml;r dekorationsm&aring;lning med rosor som motiv p&aring; det v&auml;lk&auml;nda Kapellet, som renoveras som b&auml;st. P&aring; Kapellet serveras &auml;ven rosente.</p>
		<p>Rosor, r&aring;choklad och choklad sm&auml;lter samman b&aring;de p&aring; matkurserna och matlistan i restaurang Degerby Gille, byggt p&aring; 1600-talet. &auml;ven i stadens &ouml;vriga kaf&eacute;er, restauranger och de privata rosentr&auml;dg&aring;rdarna bjuds det p&aring; mat och dryck med rosenfl&auml;kt.  P&aring; l&ouml;rdagen 7. juli ordnas Rosornas dans p&aring; Skeppsbron.</p>
		<p>Rosornas historia och rosenodlingen belyses vid expertf&ouml;redrag och rosendoften f&ouml;rf&ouml;r p&aring; kursen i  tillverkning av rosentv&aring;l. I stadens aff&auml;rer hittar man delikatesser, tyger, tapeter, k&auml;rl och prydnadsf&ouml;rem&aring;l med rosenmotiv. Barnen f&aring;r tr&auml;ffa prinsessan T&ouml;rnrosa livslevande i en sagopark, som barnen sj&auml;lva dekorerat.</p>
		<p>Rosenevenemangets tema &auml;r Rosen - k&auml;rlekens blomma. Till dens &auml;ra inbjuds allm&auml;nheten till ett riktigt Rosenbr&ouml;llop i den nyrenoverade, nygotiska kyrkan 7.7.2012.</p>
		<p>I samband med rosenevenemanget ordnas &auml;ven den f&ouml;rsta br&ouml;llopsm&auml;ssan Nylands br&ouml;llopsstad Lovisa. &auml;ven de f&ouml;rtjusande vigselkyrkorna presenteras: f&ouml;rutom den nygotiska kyrkan i centrum kan man vigas &auml;ven i den medeltida stenkyrkan kyrkan i Pern&aring;, den gamla tr&auml;kyrkan i Liljendal eller i den 1743 byggda kyrkan i Str&ouml;mfors bruk, med sin unika altartavla m&aring;lad av Helene Schjerfbeck.</p>
	</div>
</div>

</div>