RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

RewriteRule ^etusivu\.html$ /  [R]
RewriteRule ^Intro\.html$ /  [R]
RewriteRule ^info\.html$ /  [R]
RewriteRule ^ajankohtaista\.html$  /  [R]
RewriteRule ^kartta\.html$  /  [R]
RewriteRule ^Wanhat.Talot\.html$  /  [R]
RewriteRule ^2009.messuliite\.html$  /  [R]

RewriteRule ^steal-([0-9]+)/steal.production.js$ steal/steal.production.js [L]
RewriteRule ^([0-9]+)/lwt/production.js$ lwt/production.js [L]

<FilesMatch "\.(html|pdf)$">
    ExpiresDefault A0
    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, no-transform"
    Header set Pragma "no-cache"
</FilesMatch>

<FilesMatch "\.(js|css|png|jpg|gif)$">
    Header set Cache-Control "max-age=2592000"
</FilesMatch>
