RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

RewriteRule ^etusivu\.html$ /  [R]
RewriteRule ^info\.html$ /  [R]
RewriteRule ^ajankohtaista\.html$  /  [R]
RewriteRule ^kartta\.html$  /  [R]
RewriteRule ^Wanhat.Talot\.html$  /  [R]
RewriteRule ^2009.messuliite\.html$  /  [R]
