<footer>
    <ul class="contacts flex-list flex-left">
        <li>
            <h5><%= t('footer.yhteydenotot') %></h5>
            <p><a href="mailto:loviisanwanhattalot@gmail.com" class="mail-inverse">loviisanwanhattalot@gmail.com</a></p>
        </li>
        <li>
            <h5><%= t('footer.projektipaallikko') %></h5>
            <p>Ann-Britt Felin-Aalto<br/>
                <a href="tel:+358400516032">040 051 6032</a><br/>
                <a href="mailto:abfelin@gmail.com">abfelin@gmail.com</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.mediavastaava') %></h5>
            <p>Carita Liljendahl<br/>
                <a href="tel:+358407449557">040 7449557</a><br/>
                <a href="mailto:liljendahl.carita@gmail.com">liljendahl.carita@gmail.com</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.herkkujenpuisto') %></h5>
            <p><i><%= t('footer.herkkujenpuisto_lahiruokaa') %></i><br/>
                Itäisen Uudenmaan Lähiruokatuottajat Ry<br/>
                Timo Paakkunainen<br/>
                <a href="tel:+358505184632">050 5184632</a><br/>
                <a href="mailto:timppa@huhtasrinne.fi">timppa@huhtasrinne.fi</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.syysmarkkinat') %></h5>
            <p><%= t('footer.laivasilta') %><br/>
                Anita Laakso<br/>
                <a href="tel:+358400164878">0400 164 878</a>
            </p>
        </li>
        <li>
            <h5><a href="http://www.kolumbus.fi/lovthk/Collectors.htm"><%= t('footer.kerailymessut') %></a></h5>
            <p><i><%= t('footer.kirpputoripaikkoja') %></i><br/>
                <%= t('footer.varaukset') %> Paavo Sistola<br/>
                <a href="tel:+358405014656">040 501 4656</a><br/>
                <a href="mailto:paavo.sistola@sulo.fi">paavo.sistola@sulo.fi</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.kasityomarkkinat') %></h5>
            <p>Päivi Melamies<br/>
                <a href="tel:+358405125508">040 512 5508</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.antiikkimarkkinat') %></h5>
            <p>Timo Raivio<br/>
                <a href="tel:+358405004501">040 500 4501</a><br/>
                <a href="mailto:timo.raivio@ftres.com">timo.raivio@ftres.com</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.naytteilleasettajat') %></h5>
            <p><%= t('footer.naytteilleasettajat_suolatori') %><br/>
                Vesa Virtanen<br/>
                <a href="tel:+358445528162">044 5528162</a><br/>
                <a href="mailto:vesa@roseborg.fi">vesa@roseborg.fi</a>
            </p>
            <p><%= t('footer.naytteilleasettajat_mariankatu') %><br/>
                Anita Laakso<br/>
                <a href="tel:+358400164878">0400 164 878</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.toripaikat') %></h5>
            <p><%= t('footer.toripaikat_kuvaus') %><br/>
                <%= t('footer.loviisa') %><br/>
                Teija Aalto<br/>
                <a href="tel:+358445651188">044 5651188</a><br/>
                <a href="mailto:teija.aalto@loviisa.fi">teija.aalto@loviisa.fi</a>
            </p>
        </li>
        <li>
            <h5><%= t('footer.messulehti') %></h5>
            <p><%= t('footer.ilmoitusmyynti') %><br/>
                <a href="tel:+358405472993">040 547 2993</a><br/>
                <a href="mailto:maija.laine@itavayla.fi">maija.laine@itavayla.fi</a>
            </p>
        </li>
    </ul>

    <div class="prizes">
        <p class="facebook"><%= t('footer.facebook') %>: <a href="http://facebook.com/loviisanwanhattalot"><img src="/img/facebook.png" alt="Facebook"></a></p>
        <ul class="flex-list">
            <li>
                <p><%= t('footer.prizes.a') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.b') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.c') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.d') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.e') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.f') %></p>
            </li>
            <li>
                <p><%= t('footer.prizes.g') %></p>
            </li>
        </ul>
    </div>
</footer>

<script src="http://www.google-analytics.com/ga.js"></script>
</html></body>
