<div class="sponsors">
    <div class="row">
        <div class="large-12 columns">
            <p><strong><%= t('sponsors.in_co_operation') %>:</strong></p>
        </div>
    </div>
    <div class="row" data-equalizer>
        <ul class="small-block-grid-5">
            <li data-equalizer-watch class="text-center">
                <a href="http://www.loviisa.fi"><img src="/img/sponsors/logo_loviisa.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.minedu.fi"><img src="/img/sponsors/logo_minedu.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.kulturfonden.fi"><img src="/img/sponsors/logo_kulturfonden.png"></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.fortum.fi"><img src="/img/sponsors/logo_fortum.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://eltete.fi/"><img src="/img/sponsors/logo_eltete.png"></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.aktia.fi"><img src="/img/sponsors/logo_aktia.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="https://www.op.fi/op?id=81201&panknro=554407"><img src="/img/sponsors/logo_op.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.nordea.fi"><img src="/img/sponsors/logo_nordea.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.itavayla.fi"><img src="/img/sponsors/logo_itavayla.png"/></a>
            </li>
            <li data-equalizer-watch class="text-center">
                <a href="http://www.roseborg.fi"><img src="/img/sponsors/logo_roseborg.png"/></a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p><strong><%= t('sponsors.thanks') %>:</strong> <%= t('sponsors.list') %></p>
        </div>
    </div>
</div>