<div class="sponsors">
    <p><strong><%= t('sponsors.in_co_operation') %>:</strong></p>

    <ul class="flex-list">
        <li>
            <a href="https://www.loviisa.fi"><img src="/img/sponsors/logo_loviisa.png"/></a>
        </li>
        <li>
            <a href="https://www.minedu.fi"><img src="/img/sponsors/logo_minedu.png"/></a>
        </li>
        <li>
            <a href="https://www.kulturfonden.fi"><img src="/img/sponsors/logo_kulturfonden.png"></a>
        </li>
        <li>
            <a href="https://www.fortum.fi"><img src="/img/sponsors/logo_fortum.png"/></a>
        </li>
        <li>
            <a href="http://eltete.fi"><img src="/img/sponsors/logo_eltete.png"></a>
        </li>
        <li>
            <a href="https://www.aktia.fi"><img src="/img/sponsors/logo_aktia.png"/></a>
        </li>
        <li>
            <a href="https://uusi.op.fi/web/op-ita-uusimaa"><img src="/img/sponsors/logo_op.png"/></a>
        </li>
        <li>
            <a href="https://www.itavayla.fi"><img src="/img/sponsors/logo_itavayla.png"/></a>
        </li>
        <li>
            <a href="http://www.roseborg.fi"><img src="/img/sponsors/logo_roseborg.png"/></a>
        </li>
    </ul>

    <p><strong><%= t('sponsors.thanks') %>:</strong> <%= t('sponsors.list') %></p>
</div>
