<a href="http://www.facebook.com/loviisanwanhattalot"><img src="lwt/images/lwt-fb.png" alt="Loviisan Wanhat Talot Facebookissa"/></a>
<a href="http://www.ostnyland.fi/historiska-hus"><img src="lwt/images/lwt-ostra_se.png" alt="Loviisan Historiska Hus Evenemangssajten"/></a>
