<div class="magazine">
  <h1>Vartti m&auml;ssbilaga 2011</h1>
  <a href="LWT-messulehti.pdf"><img src="images/messulehti-thumb.jpg"/></a>
</div>
<div class="magazine">
  <h1>Vartti m&auml;ssbilaga 2010</h1>
  <a href="LWT-messulehti-edellinen.pdf"><img src="images/messulehti_edellinen-thumb.jpg"/></a>
</div>
<div class="c"></div>
