<div class="contacts">
<div class="contact">
	<h2>Yhteydenotot</h2>
	<p><a href="mailto:loviisanwanhattalot@gmail.com" class="mail-inverse">loviisanwanhattalot@gmail.com</a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>
<div class="contact">
	<h2>Projektip&auml;&auml;llikk&ouml;<br/>N&auml;ytteilleasettajat, Suolatori</h2>
	<p>Ann-Britt Felin-Aalto</p>
	<p class="phone-inverse">040 051 6032</p>
	<p><a href="mailto:abfelin@gmail.com" class="mail-inverse">abfelin@gmail.com</a></p>
</div>
<div class="contact">
	<h2>Lehdist&ouml;vastaava</h2>
	<p>Maria Schulgin</p>
	<p class="phone-inverse">044 053 1409</p>
	<p><a href="maria.schulgin@gmail.com" class="mail-inverse">maria.schulgin@gmail.com</a></p>
</div>
<div class="contact">
	<h2>Tuottajatori</h2>
	<p>Koordinaattori</p>
	<p>Mia Aitokari</p>
	<p class="phone-inverse">040 550 4402</p>
</div>
<div class="contact">
	<h2>Toripaikat</h2>
	<p>Loviisa</p>
	<p>Maija Hansson</p>
	<p class="phone-inverse">044 565 1188</p>
</div>
<div class="contact last">
	<h2>K&auml;sity&ouml;- ja syysmarkkinat</h2>
	<p>Laivasilta</p>
	<p>Rolf T&ouml;rnqvist</p>
	<p class="phone-inverse">040 554 7449</p>
</div>
</div>
<div class="credits">/ web design and tech by Drillsoft /</div>
