<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<%= yield %>

<ul class="events flex-list">
    <% child_md_items(@item).each do |item| %>
    <li>
        <h4><%= item[:name] %></h4>
        <p>
            <a href="<%= event_link(item) %>">
                <img src="<%= item.path %>/1-thumb.jpg">
            </a>
            <%= item[:description] %>
            <a href="<%= event_link(item) %>"><%= t('events.more') %></a>
        </p>
    </li>
    <% end %>
    <li style="height: 0px;"></li>
    <li style="height: 0px;"></li>
</ul>

<%= render '/partials/sponsors.*' %>
<%= render '/partials/footer.*' %>
