<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<div class="content">
    <h2><%= @item[:name] %></h2>
    <%= yield %>

    <% if has_gallery(@item) %>
    <ul class="gallery flex-list flex-left">
        <% sorted_child_images(@item).each do |img| %>
        <li>
            <a href="<%= img.path %>">
                <img data-caption="<%= img[:caption] %>" src="<%= img.path(:rep => :thumbnail) %>">
            </a>
        </li>
        <% end %>
    </ul>
    <% end %>
</div>

<%= render '/partials/footer.*' %>
