<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<div class="content">
    <h1><% if @item[:number] %>
        <%= @item[:number] %>.&nbsp;
        <% end %>
        <%= @item[:name] %>
    </h1>
    <em><%= @item[:address] %> (<a href="http://maps.google.com/?q=<%= @item[:address] %>">kartalla</a>)</em>
    <% if @item[:garden] %> - <em><%= t('house.garden') %></em><% end %>
    <% if @item[:remote] %> - <em><%= t('house.remote') %></em><% end %>

    <%= yield %>

    <ul class="gallery flex-list flex-left">
        <% sorted_child_images(finnish_house(@item)).each do |img| %>
        <li>
            <a href="<%= img.path %>">
                <img src="<%= img.path(:rep => :thumbnail) %>">
            </a>
        </li>
        <% end %>
    </ul>
</div>

<%= render '/partials/footer.*' %>
