<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<div class="content">
    <h1><% if @item[:number] %>
        <%= @item[:number] %>.&nbsp;
        <% end %>
        <%= @item[:name] %>
    </h1>
    <em><%= @item[:address] %> (<a href="https://maps.google.com/?q=<%= @item[:address] %>">på karta</a>)</em>
    <% if @item[:garden] %> - <em><%= t('house.garden') %></em><% end %>
    <% if @item[:remote] %> - <em><%= t('house.remote') %></em><% end %>
    <a href="<%= house_hero(item) %>">
      <img src="<%= house_hero(item) %>" class="house-hero bordered"/>
    </a>

    <%= yield %>

    <% if @item[:family] %>
      <% img = intro_image(finnish_house(@item))%>
      <% if img %>
      <a href="<%= img.path %>" class="gallery">
          <img class="bordered" src="<%= img.path(:rep => :thumbnail) %>">
      </a>
      <% end %>
      <p><%= @item[:family].gsub("\n", "<br/>") %></p>
    <% end %>

    <ul class="gallery flex-list flex-left">
        <% sorted_child_images(finnish_house(@item)).each do |img| %>
        <li>
            <a href="<%= img.path %>">
                <img class="bordered" src="<%= img.path(:rep => :thumbnail) %>">
            </a>
        </li>
        <% end %>
    </ul>

    <p>Foton: <%= house_photographer(item) %></p>
</div>

<%= render '/partials/footer.*' %>
