<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<ul class="houses flex-list flex-left">
    <li class="divider">
        <h4>Lovisa centrum:</h4>
    </li>

    <% sorted(@item, nil).each do |item| %>
    <li data-number="<%= item[:number] %>" style="background-image: url(<%= house_svg(item) %>)">
        <a href="<%= item.path %>">
            <h4><%= item[:name] %></h4>
        </a>
    </li>
    <% end %>

    <li class="divider">
        <h4>Abborfors:</h4>
    </li>

    <% sorted(@item, 'Ahvenkoski').each do |item| %>
    <li data-number="<%= item[:number] %>" style="background-image: url(<%= house_svg(item) %>)">
        <a href="<%= item.path %>">
            <h4><%= item[:name] %></h4>
        </a>
    </li>
    <% end %>

    <li class="divider">
        <h4>Strömfors bruk:</h4>
    </li>

    <% sorted(@item, 'Ruukki').each do |item| %>
    <li data-number="<%= item[:number] %>" style="background-image: url(<%= house_svg(item) %>)">
        <a href="<%= item.path %>">
            <h4><%= item[:name] %></h4>
        </a>
    </li>
    <% end %>

    <li class="divider">
        <h4>Isnäs:</h4>
    </li>

    <% sorted(@item, 'Isnäs').each do |item| %>
    <li data-number="<%= item[:number] %>" style="background-image: url(<%= house_svg(item) %>)">
        <a href="<%= item.path %>">
            <h4><%= item[:name] %></h4>
        </a>
    </li>
    <% end %>

    <li class="divider">
        <h4>Pernå:</h4>
    </li>

    <% sorted(@item, 'Pernaja').each do |item| %>
    <li data-number="<%= item[:number] %>" style="background-image: url(<%= house_svg(item) %>)">
        <a href="<%= item.path %>">
            <h4><%= item[:name] %></h4>
        </a>
    </li>
    <% end %>

    <li style="height: 0px; border-color: transparent; background-color: transparent;"></li>
    <li style="height: 0px; border-color: transparent; background-color: transparent;"></li>
    <li style="height: 0px; border-color: transparent; background-color: transparent;"></li>
    <li style="height: 0px; border-color: transparent; background-color: transparent;"></li>
    <li style="height: 0px; border-color: transparent; background-color: transparent;"></li>
</ul>

<%= render '/partials/footer.*' %>
