<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<div class="content">
    <h4>Kohteet Loviisan keskustassa:</h4>
    <ul class="houses flex-list flex-left">
        <% sorted(@item, nil).each do |item| %>
        <li data-number="<%= item[:number] %>">
            <h4><%= item[:name] %></h4>
            <a href="<%= item.path %>">
                <div class="house-image" style="background-image: url(<%= house_svg(item) %>)"/>
            </a>
        </li>
        <% end %>
    </ul>

    <h4>Kohteet Malmgårdissa:</h4>
    <ul class="houses flex-list flex-left">
        <% sorted(@item, 'Malmgård').each do |item| %>
        <li data-number="<%= item[:number] %>">
            <h4><%= item[:name] %></h4>
            <a href="<%= item.path %>">
                <div class="house-image" style="background-image: url(<%= house_svg(item) %>)"/>
            </a>
        </li>
        <% end %>
    </ul>

    <h4>Kohteet Ahvenkoskella:</h4>
    <ul class="houses flex-list flex-left">
        <% sorted(@item, 'Ahvenkoski').each do |item| %>
        <li data-number="<%= item[:number] %>">
            <h4><%= item[:name] %></h4>
            <a href="<%= item.path %>">
                <div class="house-image" style="background-image: url(<%= house_svg(item) %>)"/>
            </a>
        </li>
        <% end %>
    </ul>

    <h4>Kohteet Ruotsinpyhtään Ruukissa:</h4>
    <ul class="houses flex-list flex-left">
        <% sorted(@item, 'Ruukki').each do |item| %>
        <li data-number="<%= item[:number] %>">
            <h4><%= item[:name] %></h4>
            <a href="<%= item.path %>">
                <div class="house-image" style="background-image: url(<%= house_svg(item) %>)"/>
            </a>
        </li>
        <% end %>
    </ul>
</div>

<%= render '/partials/footer.*' %>
