<%= render '/partials/head.*' %>
<%= render '/partials/navi.*' %>

<div class="row">
    <div class="small-12 columns">
        <nav class="breadcrumbs">
            <a class="current" href="#"><%= @item[:navi] %></a>
        </nav>
        <%= yield %>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Kohteet Loviisan keskustassa:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, nil).each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= item.path %>/1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Kohteet Isnäsissä:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Isnäs').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= item.path %>/1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Kohteet Malmgårdissa:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Malmgård').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= item.path %>/1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Kohteet Ahvenkoskella:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Ahvenkoski').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= item.path %>/1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Kohteet Ruotsinpyhtään Ruukissa:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Ruukki').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= item.path %>/1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<%= render '/partials/footer.*' %>
