<%= render 'partials/head' %>
<%= render 'partials/navi' %>

<div class="row">
    <div class="small-12 columns">
        <%= yield %>
    </div>
</div>

<div class="row events content">
    <div class="small-12 columns">
        <ul class="large-block-grid-2 clearfix">
            <% @item.children.each do |item| %>
            <li>
                <h4><%= item[:name] %></h4>
                <a class="th left" href="<%= event_link(item) %>"><img src="<%= item.path %>/1-thumb.jpg"></a>
                <%= item[:description] %>
                <% if !inline_event?(item) %>
                    <a href="<%= item.path %>">Lue lisää »</a>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
</div>

<%= render 'partials/sponsors' %>
<%= render 'partials/footer' %>
