<%= render 'partials/head' %>
<%= render 'partials/navi' %>

<div class="row">
    <div class="small-12 columns">
        <nav class="breadcrumbs">
            <a class="current" href="#"><%= @item[:navi] %></a>
        </nav>
        <%= yield %>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Hus i Lovisa centrum:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, nil).each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= house_path(item) %>1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Hus i Isnäs:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Isnäs').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= house_path(item) %>1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Hus i Malmgård:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Malmgård').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= house_path(item) %>1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Hus i Abborfors:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Ahvenkoski').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= house_path(item) %>1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row houses content">
    <div class="small-12 columns">
        <hr>
        <h4>Hus i Strömfors bruk:</h4>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            <% sorted(@item, 'Ruukki').each do |item| %>
            <li data-number="<%= item[:number] %>"><h4><%= item[:name] %></h4> <a class="th" href="<%= item.path %>"><img src="<%= house_path(item) %>1-thumb.jpg"></a></li>
            <% end %>
        </ul>
    </div>
</div>

<%= render 'partials/footer' %>
