<div class="news c">

<div class="item c">
	<h2>Ruusujen Hurmaa 8.-10.7.2011 - VIIKONLOPUN OHJELMA</h2>
	<p class="date">julkaistu 5.5.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="lwt/images/news_ruusujenhurmaa.jpg">Ihanat ruusut - kaikissa mahdollisissa muodoissa - valloittavat Loviisan Ruusujen hurmaa - tapahtuman aikana 8-10. hein&auml;kuuta. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Ruusuja l&ouml;ytyy paitsi loviisalaisista ruusutarhoista my&ouml;s runoissa, musiikissa ja taiteessa. Yksitt&auml;isten taiteilijoiden ruusu-n&auml;yttelyiden lis&auml;ksi Pietarin kuvataideakatemian professorit opettavat Repin- instituutin kursseilla ruusujen akvarellimaalausta. Komendantintalon kaupunginmuseossa on esill&auml; ihastuttava historiallinen n&auml;yttely Ruusuja kuvina ja kirjottuina. Ruusurunoja kuullaan useammalla kielell&auml; ja ruusut kukoistavat niin yksin-kuin yhteislauluissa.</p>
		<p>Ruusujen historia ja kasvatus tulevat tutuiksi asiantuntijaesitelmiss&auml; ja ruusun tuoksu valloittaa ruususaippua- ja ruusuvesikursseilla. Paikallisten liikkeiden valikoimista l&ouml;ytyy monenlaisia ruusuaiheita niin kankaissa, tapeteissa, astioissa kuin koriste-esineiss&auml;.</p>
		<p>Ruokakursseilla opetellaan ruusun ja muidenkin kukkien k&auml;ytt&ouml;&auml; keitti&ouml;ss&auml; ja ruusu maistuu tietenkin my&ouml;s loviisalaiskahviloiden ja ravintoloiden juoma- ja herkkutarjonnassa samoin kuin avoinna olevissa yksityisiss&auml; ruusupuutarhoissa. Ja toki Loviisasta l&ouml;ytyy my&ouml;s prinsessa Ruusunen ja lasten mieleisekseen koristelma satupuisto.</p>
		<p><b>RUUSUPUUTARHAT, el&auml;vi&auml; ruusuja yms</b></p>
		<ol>
			<li>Villa Aaltonen, Pitk&auml;kuja 12. Noin 50 eri ruusulajiketta suuressa kukkaispuutarhassa, ruusutuotteita ja ruokaa. Avoinna pe la su 10-17.</li>
			<li>Kuninkaanlampi, Kuhlefeltinkatu 8. Yli 70 eri ruusu-lajiketta ihanassa lammenrantapuutarhassa, paljon englantilaisia ruusuja, ruusutuotteita , Ruusukellarikahvila. Avoinna pe la su 10-17. <a href="www.kuninkaanlampi.fi">&#187; www.kuninkaanlampi.fi</a></li>
			<li>Eija's Garden - el&auml;myspuutarha Ahvenkoskella, Elim&auml;entie 74. La ja su Miten rakennan englantilaisen ruusupenkin- esitelm&auml;. Redout&eacute;n historiallisia ruusukuvia. Myym&auml;l&auml;ss&auml; hyv&auml; valikoima ruusuja, pe la su erikoishintaan. Avoinna joka p&auml;iv&auml;. <a href="www.eijasgarden.fi">&#187; www.eijasgarden.fi</a></li>
			<li>Wanha kauppa, It&auml;inen tullitie 20. Koristemaalattu ruusukakluuni, puutarhassa ruusuja ja erilaisia jippoja sek&auml; kes&auml;huoneinstallaatio: Tyt&ouml;n parhaat yst&auml;v&auml;t. Kaupan sis&auml;ll&auml; myynniss&auml; ruusukirjoja ja muita puutarhakirjoja sek&auml; ruusukattauksia (astiat myynniss&auml;). Avoinna pe la su 10-17.</li>
			<li>Liisantalon vanhaan talliin rakennetun Tuhannen tuskan kahvilan sis&auml;piha: pienoisruusuja, tarjoilu ruusukupeista, ruusuherkkuja. Mariankatu 2 C avoinna joka p&auml;iv&auml;. <a href="www.liisantalo.fi">www.liisantalo.fi</a></li>
			<li>Lovisa Rosarium/Terveyskeskuksen ruusutarha/&ouml;hmaninkatu 4. Turkulaisen ruusuasiantuntija Toini Gr&ouml;nqvistin lahjoittamat 33 vanhaa ruusua/16 eri lajia.</li> 
			<li>Pilasterien ruusupiha 1800-luvulta. Sep&auml;nkuja 8. Avoinna pe la su. <a href="www.degerby.com">&#187; www.degerby.com</a></li>
			<li>Kappeli, Kappelinpuisto. Ruusuteet&auml; ja virvokkeita. Kauneimmat ruusukimput ja ruusutaidetta yms. <a href="www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></li>
			<li>Ulrikakoti, Kuhlefeltinkatu 35. Ruusuja puutarhassa, k&auml;sit&ouml;iss&auml;, tuotteissa, kahvion herkuissa, baarissa yms. <a href="www.ulrikakoti.fi">&#187; www.ulrikakoti.fi</a></li>
		</ol>
		<p><b>RUUSU TAITEESSA (n&auml;yttelyt avautuvat jo aiemmin, useimmat auki viikko ennen ja j&auml;lkeen)</b></p>
		<ol>
			<li>Loviisan kaupungin museo 1700-luvun Komendantintalossa, Puistokatu 2. Ruusuja kuvina ja kirjottuina- Rosor i bild och broderi. N&auml;yttely on esill&auml; 17.6.-25.9.2011 museon kolmannessa kerroksessa. Pe 8.7. on n&auml;yttelyyn vapaa p&auml;&auml;sy klo 11-16, la su 10-16. <a href="http://www.loviisa.fi">&#187; www.loviisa.fi</a></li>
			<li>Bongan linna, Linnankuja. Riitta Nelimarkan museo: Rose de la montagne-n&auml;yttely avautuu hein&auml;kuun alussa. <a href="http://www.bonga.fi">&#187; www.bonga.fi</a></li>
			<li>Salttiksen aitta, Laivasilta - Kaisa Strandenin Sein&auml;ruusut - n&auml;yttely sek&auml; Mirja Backmanssonin ruusu-tuoleja. 27.6 -10.7. </li>
			<li>Klassisten veneiden aitta, Laivasilta - a rose is a rose is a rose - n&auml;yttely Klassisten veneiden aitta, 2 vk, avautuu hein&auml;kuun alussa</li>
			<li>Taidevintti. Aleksanterinkatu 8. Christer &aring;bergin Ruusutarha- n&auml;yttely, avautuu 16.6. ja jatkuu kes&auml;n ajan. <a href="http://www.aleksanteri.fi">&#187; www.aleksanteri.fi</a></li>
			<li>Kansalaisten ruusuja /Loviisan seudun taideyhdistys kiertelee telineiden kanssa kaupungilla maalauttamalla kansalaisilla suurta ruusu-aiheista yhteistaideteosta.</li>
			<li>Loviisalaisten koululaisten Ruusu-taideteoskilpailun parhaimmiston n&auml;yttely.</li>
			<li>Lasten saturuusupuisto/Schillmarckin puisto/Mariankatu 2. Paikalla my&ouml;s prinsessa Ruusunen sek&auml; tarinateltta.</li>
			<li>Kirjasto kukkii, Kirjasto, Kuningattarenkatu 24. Kirjoja aiheesta ruusu. 4.7. - 31.7. Pe ruusuinen satutuokio lapsille.</li>
			<li>Minerva Martinoffin ruusut&ouml;it&auml;, t&auml;kkej&auml; yms. Kappeli.</li>
			<li>Loviisan seudun taideyhdistyksen ja taiteilijoiden ruusu-t&ouml;it&auml;.</li>
			<li>Ulrikanhovi, Kuhlefeltinkatu 35. Taidetta ja k&auml;sit&ouml;it&auml;. <a href="www.ulrikanhovi.fi">&#187; www.ulrikanhovi.fi</a></li>
		</ol>
		<p><b>MUSIIKKIA YMS</b></p>
		<ol>
			<li>Svarta rosor, konsertti naisen el&auml;m&auml;st&auml;. Oopperalaulajat Rita Bergman, Ida Wallen sek&auml; Lasse Hirven trio, la klo 17.00</li>
			<li>Trubaduureja ja runonlausujia ruusukohteissa</li>
			<li>Laivasillan Ruusujen tanssit la klo 19. Orkesterina Stella & Streamlines, mukana my&ouml;s ruusukavaljeereja tanssittamassa naisia. Kaunein ruusumekko palkitaan. Miss Loviisa 2011- ehdokkaiden ensiesittely. <a href="www.laivasilta.fi">&#187; www.laivasilta.fi</a></li>
			<li>Laivasilta su 14-16 - Benny T&ouml;rnroos&Kalle Pettersson, ruusuisia yhteislauluja ja Muumit lapsille, mukana my&ouml;s Prinsessa Ruusunen. Loviisan teatteri lausuu palkittuja koululaisrunoja.</li>
			<li>Prinsessa Ruususen h&auml;&auml;marssi ja kauneimmat h&auml;&auml;marssit. Kappeli. L&auml;ntinen harjutie. Su Arno Kantolan urkukonsertti.</li>
		</ol>
		<p><b>KURSSEJA YMS ty&ouml;n&auml;yt&ouml;ksi&auml; .</b></p>
		<ol>
			<li>Repininstituutti: ruusuakvarellimaalauskurssi/Opettajana Pietarin Kuvataideakatemian dosentti Andrei Chugunov. Ulrikanhovi, Kuhlefeltinkatu 35. <a href="www.ulrikanhovi.fi">&#187; www.ulrikanhovi.fi</a></li>
			<li>Ruusuja valkosuklaasta ja marsipaanista. PONG./Ulrikanhovi.</li>
			<li>Ruususaippuaa. Merja Saarion koulutustapahtuma luonnollisen saippuan valmistuksesta ja k&auml;ytt&auml;misest&auml; kiinnostuneille. Keskuksen Akvaario, Etel&auml;harju 2. <a href="mailto:merja.saario@saunalahti.fi">&#187; merja.saario@saunalahti.fi</a></li>
			<li>Ruusukoristemaalausta.</li>
		</ol>
		<p><b>RUUSUJA LAUTASELLA, LASEISSA JA N&auml;YTEIKKUNOISSA </b></p>
		<ol>
			<li>Pilastereissa LA 12-14 RUUSU-BRUNCH. Ruotsalainen kokkikirjailija Anita Ziemen ruusu/kukkaruokaa, pe ja su ruusukahvio 11-17. <a href="www.degerby.com">&#187; www.degerby.com</a></li>
			<li>&ouml;lVin-baari, Hotelli Strand, Mariankatu 1: mm. ruusuj&auml;&auml;tel&ouml;&auml;.</li>
			<li>Kaikissa ravintoloissa jotain ruusuista: leivos, juoma, kakku.</li>
			<li>Ruusupuutarhoissa : ruusuteet&auml;, ruusukakkua, ruusuleivoksia.</li>
			<li>Loviisan V&auml;rikaupan ikkunassa ruusutapettivuoraus. Kuningattarenkatu 3.</li>
			<li>Kaupungin n&auml;yteikkunat ruusuisin aihein: kaupoissa esill&auml; my&ouml;s ruusutuotteita parin viikon ajan hein&auml;kuun alusta alkaen.</li>
		</ol>
	</div>
</div>

<div class="item c">
	<h2>Mist&auml; on Loviisan Wanhat Talot tehty?</h2>
	<p class="date">julkaistu 13.5.2010</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_wanhattalot-thumb.jpg"><img class="full" src="lwt/images/news_wanhattalot.jpg">Historiallisista taloista, viihtyisist&auml; kodeista, hurmaavista puutarhoista, antiikista ja ker&auml;ilyesineist&ouml;st&auml;, lukuisista kirpputoreista, taiteesta, musiikista ja herkullisesta luomu- ja l&auml;hiruuasta - niist&auml; on Loviisan Wanhat Talot tehty. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Loviisan Wanhat Talot - 27.-28. elokuuta 2011 - on noussut It&auml; - Uusimaan suurimmaksi yleis&ouml;tapahtumaksi ja avaa historiallisten loviisalaiskotien ovet ja puutarhat jo seitsem&auml;nnen kerran.</p>
		<p>Loviisan Wanhat Talot tarjoavat ainutkertaisten kotivierailujen ohella my&ouml;s ty&ouml;n&auml;yt&ouml;ksi&auml; sek&auml; lauantai-iltap&auml;iv&auml;ll&auml; <b>Mia Heijnsbroek-Wir&eacute;nin</b> em&auml;nn&ouml;im&auml;n, perinne- ja korjausrakentamisen seminaarin Hotelli Degerbyn Commodore-salissa. Lauantai-aamup&auml;iv&auml;ll&auml; arkkitehti ja talotohtori <b>Panu Kaila</b> ruotii <b>Loviisan kulttuuri- ja ymp&auml;rist&ouml;liikkeen</b> perinne- ja korjausrakentamisen klinikalla talonkorjaajien ongelmia ja tarjoaa niihin mahdollisia ratkaisuja.</p>
		<p><b>It&auml;uudenmaan kylien</b> j&auml;rjest&auml;m&auml; suosittu l&auml;hi- ja luomuruuan <b>ITU-tori</b> laajenee entisest&auml;&auml;n ja esittelee alan tunnettuja kokkeja omine "ty&ouml;n&auml;yt&ouml;ksineen" ja herkkuineen. ITU-tori ja <b>Hotelli Degerby</b> tuovat kuvaan my&ouml;s nyt niin muodikkaan pop up-katuravintolan, joka keskittyy ruuassa ja juomissa luomuun ja l&auml;hiruokaan.</p>
		<p><b>Loviisanseudun ker&auml;ilij&ouml;ill&auml;</b> on Gymnasiumissa <b>Ker&auml;ilymessut</b> kahdessa kerroksessa, t&auml;n&auml; vuonna laajennettuna my&ouml;s alakerran siipirakennukseen. Paikalle saapuu ker&auml;ilyalan ja antiikin myyji&auml; ymp&auml;ri Suomea. <b>Aleksanterinpihalta</b> l&ouml;ytyy totuttuun tapaan antiikkimarkkinoiden ohella my&ouml;s taidetta ja taiteilijoita ty&ouml;huoneissaan.</p>
		<p><b>Loviisanseudun taideyhdistyksen vuosin&auml;yttely</b> on ripustettuna <b>Galleria Theodorissa</b> ja taiteilijat jatkavat Loviisan s&auml;hk&ouml;- ja puhelinkaapelikoppien maalaamista.</p>
		<p><b>Laivasillan Klassisten veneiden aitassa</b> voidaan ihailla <b>Repin-akatemian</b> oppilaiden t&ouml;it&auml;. Laivasillalla on my&ouml;s perinteiset <b>syysmarkkinansa</b> ja lauantai-iltana <b>Muinaistulien y&ouml;.</b></p>
		<p>T&auml;n&auml; vuonna Loviisan <b>Sibelius-p&auml;iv&auml;t</b> ajoittuvat poikkeuksellisesti samaan ajankohtaan ja Loviisan Wanhat Talot soivat sen kunniaksi itsekin. Lukuisat muusikot soittavat niin taloissa ja - s&auml;&auml;varauksella! - my&ouml;s pihoilla, puutarhoissa ja kadullakin.</p>
		<p>Sibelius-p&auml;ivien konsertti <b>Sillisalaattia a la Bonga</b> valtaa <b>Bongan</b> linnan lauantain alkuillasta ja professori <b>Riitta Nelimarkan taiteilijakoti</b> on avoinna yleis&ouml;lle muutaman vuoden heng&auml;hdystauon j&auml;lkeen. Sibelius-p&auml;ivien ohjelmaan kuuluu my&ouml;s lauantai-iltainen <b>Jean S</b>:n konsertti <b>Ungernin</b> historiallisessa linnakkeessa.</p>
		<p>Kohdetaloja tulee olemaan kolmisenkymment&auml;. Muutama aiemmin mukana ollut talo pit&auml;&auml; v&auml;livuoden, mutta uusia on tulossa niin kaupungin keskustaan kuin et&auml;kohteisiin. Erityisen kiinnostava on <b>Labbyn kartano</b>, joka el&auml;&auml; kirjaimellisesti yhteydess&auml; luontoon ja luomuun. <b><a href="#!wanhattalot">&#187; Tutustu kohteisiin</a></b></p>
 	</div>
</div>

<div class="item c">
	<h2>Loviisan Wanhat Talot 2011 soivat</h2>
	<p class="date">julkaistu 1.12.2010</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_soivat-thumb.jpg"><img class="full" src="lwt/images/news_soivat.jpg">Loviisan Wanhat Talot - 27-28. elokuuta 2011 - on noussut It&auml; -Uusimaan suurimmaksi yleis&ouml;tapahtumaksi ja avaa historiallisten loviisalaiskotien ovet ja puutarhat jo seitsem&auml;nnen kerran. T&auml;n&auml; vuonna Loviisan Sibelius-p&auml;iv&auml;t ajoittuvat poikkeuksellisesti samaan ajankohtaan ja Loviisan Wanhat Talot soivat sen kunniaksi itsekin. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Tapahtuma on saanut paljon kiitosta: Uudenmaan Ymp&auml;rist&ouml;palkinnon 2007, Loviisan kaupungin mitalin 2008, Suomen arkkitehtiliiton arvostetun SAFA- palkinnon 2009 ja kaupunkilehti Vartti- IU:n Vuoden kaupunkiteko 2010 kunniamaininnan.</p>
		<p>Loviisan Wanhat Talot tarjoavat ainutkertaisten kotivierailujen ohella perinne- ja korjausrakentamiseen keskittyv&auml;n asiantuntijaseminaarin sek&auml; alan ty&ouml;n&auml;yt&ouml;ksi&auml;. Suosittu l&auml;hi- ja luomuruuan ITU-tori laajenee entisest&auml;&auml;n ja esittelee my&ouml;s alan tunnettuja kokkeja omine "ty&ouml;n&auml;yt&ouml;ksineen" ja herkkuineen.</p>
		<p><a href="http://www.loviisansibeliuspaivat.fi/">&#187; www.loviisansibeliuspaivat.fi</a></p>
 	</div>
</div>

<div class="item c">
	<h2>Loviisan Wanhat Talot-tapahtuma ker&auml;si enn&auml;tysyleis&ouml;n</h2>
	<p class="date">julkaistu 12.9.2010</p>
	<p class="intro">Vaikka s&auml;&auml; oli aiempia vuosia koleampaa se ei haitannut Loviisan Wanhat Talot- p&auml;ivien suosiota ja Loviisan Wanhat Talot ry/Lovisa Historiska Hus rf voi n&auml;iden p&auml;ivien uutena j&auml;rjest&auml;j&auml;n&auml; todeta, ett&auml; onnistuimme tavoitteissamme yli kaikkien odotusten. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Rannekkeita meni - kutsuvieras- ja vapaaliput mukaanlaskien - tarkistuslaskennan mukaan l&auml;hes 7000 ja sen perusteella laskettu k&auml;vij&auml;m&auml;&auml;r&auml; olisi l&auml;hes 14 000. Todenn&auml;k&ouml;isesti k&auml;vij&ouml;it&auml; oli enemm&auml;nkin, sill&auml; osa heist&auml; k&auml;ytti selke&auml;sti hyv&auml;kseen vain ilmaistapahtumia: asiantuntijaseminaaria, antiikkimarkkinoita, Loviisan seudun ker&auml;ilij&ouml;iden suurtapahtumaa, taiden&auml;yttelyit&auml;, lukuisia pihakirppiksi&auml; ja toreja. Tapahtuma onkin laajentunut Loviisan yhteiseksi vierailup&auml;iv&auml;ksi.</p>
		<p>T&auml;m&auml;n vuoden uutuus, luomu- ja l&auml;hiruokaan sek&auml; laadukkaisiin artesaanituotteisiin keskittynyt It&auml;-Uudenmaan kylien ITU- tori houkutteli paikalle uudentyyppisi&auml; vierailijoita ja etenkin Malmg&aring;rdin uutispuuro vei kielen. Loviisassa vieraillut ja kukista kokkaillut ruotsalainen kokkikirjailija Anita Zieme sanoikin n&auml;in: "Slow food on Loviisan melodia enk&auml; ole tavannut koskaan enk&auml; miss&auml;&auml;n sellaista sitoutumista ja kiinnostusta kulttuuriin ja l&auml;hiruokaan kuin t&auml;&auml;ll&auml;!"</p>
		<p>Kaikki sujui juohevasti ja hyv&auml;ss&auml; hengess&auml;. FC-Loviisa ja Amisto suoriutuivat vaativasta turvallisuus- ja opastusteht&auml;v&auml;st&auml;&auml;n erinomaisesti ja j&auml;rjestelyj&auml; kiiteltiin laajalti.</p>
		<p>Loviisan Kulttuuri- ja Ymp&auml;rist&ouml;liikkeen perinteinen asiantuntijaseminaari Kino Marilyniss&auml; veti t&auml;yden talon. Aleksanterinpihan Antiikkimarkkinat j&auml;rjest&auml;neen Kristiina Kaartisen mukaan pihalla oli enemm&auml;n k&auml;vij&ouml;it&auml; kuin koskaan aikaisemmin ja kaikki myyntipaikat varattiin jo ensi vuodeksi. Loviisanseudun ker&auml;ilij&ouml;iden suurtapahtuma Lovisa Gymnasiumissa oli my&ouml;s menestys.</p>
		<p>Et&auml;talokohteet Isn&auml;siss&auml;, Tesjoella, Ahvenkoskella ja Ruukissa vetiv&auml;t nekin satoja k&auml;vij&ouml;it&auml;, joskin suurin paine kohdistuu aina kaupungin keskustaan. T&auml;n&auml; vuonna vierailijat l&ouml;ysiv&auml;t entist&auml; paremmin Garnisonin, joten tungos keskustassa helpotti viime vuodesta: jonoja oli mutta ne eiv&auml;t olleet siet&auml;m&auml;tt&ouml;m&auml;n pitki&auml;. Puutarhakadun kohdetalojen vieraskirjat kertovat kuitenkin viimevuotista suuremmista k&auml;vij&auml;m&auml;&auml;rist&auml;.</p>
		<p>Ravintolat ja katukeitti&ouml;t ovat ilmoittaneet enn&auml;tysmyynneist&auml;, mik&auml; vahvistaa sit&auml;, ett&auml; k&auml;vij&auml;m&auml;&auml;r&auml; on ehk&auml; arvioitua suurempi. My&ouml;s ryhm&auml;matkalaisia oli entist&auml; enemm&auml;n ja kaikki Loviisan oppaat olivat ty&ouml;llistettyin&auml; niiden palvelukseen. Hyviss&auml; ajoin varattuja y&ouml;pymisi&auml; oli entist&auml; enemm&auml;n, majoituspaikat olivat t&auml;ynn&auml; ja osa kutsuvieraista jouduttiin majoittamaan yksityisesti.</p>
		<p>Oikeusministeri Tuija Brax ja Yhdysvaltain suurl&auml;hettilaspari Bruce ja Cody Oreck nauttivat suuresti kaikesta n&auml;kem&auml;st&auml;&auml;n ja arvostavat suuresti tapaa, jolla LWT tuo esiin vanhaa rakennuskulttuuria ja neuvoo sen korjaamisessa ja s&auml;ilytt&auml;misess&auml;. Kuten Bruce Oreck sanoi omassa puheenvuorossaan: "Ekologisin rakennustapa on korjata vanha talo".</p>
 	</div>
</div>

</div>