<div class="news c">

<div class="item c">
	<h2>Rosornas charm i Lovisa - ett rosenskimrande veckoslut - PROGRAM OCH KARTA</h2>
    <p class="date">publicerade 7.7.2011</p>
    <p class="intro"><img class="thumb" src="lwt/images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="lwt/images/news_ruusujenhurmaa.jpg">Lovisa intas av rosor i m&aring;nga olika former under evenemanget Rosornas charm, som &auml;ger rum  8-10 juli 2011. &nbsp;&nbsp;&nbsp;&nbsp;<a style="font-weight: bold;" href="/RuusujenHurmaa-kartta.pdf">&#187; Klicka h&auml;r f&ouml;r PDF-karta.</a><br/><span class="readmore">L&auml;s mer..</span></p>
    <div class="more">
		<p>Bes&ouml;karna bjuds p&aring; rosendoft i rosentr&auml;dg&aring;rdar och rosor i poesi, musik och konst. Enskilda konstn&auml;rer st&auml;ller ut sin rosenkonst. Professorer fr&aring;n Sankt Petersburgs bildkonstakademi l&auml;r ut akvarellm&aring;lning med rosenmotiv p&aring; Repin-institutets kurser och resultatet finns att besk&aring;da under Rosornas charm-evenemanget.  Stadsmuseet i  Kommendanthuset ordnar den h&auml;nf&ouml;rande utst&auml;llningen Rosor i bild och broderi.</p>
		<p>Rosornas historia och rosenodlingen belyses vid expertf&ouml;redrag och rosendoften f&ouml;rf&ouml;r p&aring; kurs i tillverkning av rosentv&aring;l. De lokala sk&ouml;nhetssalongerna erbjuder rosenbehandling och i stadens aff&auml;rer hittar man tyger, tapeter, k&auml;rl och prydnadsf&ouml;rem&aring;l med rosenmotiv.</p>
		<p>P&aring; matlagningskurserna f&aring;r deltagarna l&auml;ra sig hur man anv&auml;nder rosor och andra blommor i k&ouml;ket. Stadens kaf&eacute;er, restauranger och de privata rosentr&auml;dg&aring;rdarna bjuder p&aring; mat och dryck med rosenfl&auml;kt. Barnen f&aring;r tr&auml;ffa prinsessan T&ouml;rnrosa och hennes rosen&auml;lvor i en sagopark, som barnen sj&auml;lva dekorerat.</p>
		<p><b>ROSOR I TR&Auml;DG&Aring;RDAR</b></p>
		<ol>
			<li>Villa Aaltonen, L&aring;nggr&auml;nd 12. Ca 50 olika rosenarter i den stora blomstertr&auml;dg&aring;rden, rosenprodukter och mat. &ouml;ppen fre l&ouml; s&ouml; 10-17.</li>
			<li>Kuninkaanlampi, Kuhlefeltsgatan 8. Mer &auml;n 70 olika rosenarter i den vackra tr&auml;dg&aring;rden intill dammen, m&aring;nga engelska rosor, rosenprodukter. Caf&eacute; i Rosenk&auml;llaren. &ouml;ppen fre l&ouml; s&ouml; 10-17.  <a href="http://www.kuninkaanlampi.fi">&#187; www.kuninkaanlampi.fi</a></li>
			<li>Eija's Garden - upplevelsetr&auml;dg&aring;rden i Str&ouml;mfors, Elim&auml;kiv&auml;gen 74. L&ouml; och s&ouml; f&ouml;redrag: Miten rakennan englantilaisen ruusupenkin. Historiska rosenbilder av Redout&eacute;. Ett stort urval av rosor i aff&auml;ren, fre l&ouml; s&ouml; till specialpris. &ouml;ppen varje dag. <a href="http://www.eijasgarden.fi">&#187; www.eijasgarden.fi</a></li>
			<li>Wanha kauppa, &ouml;stra Tullgatan 20, kakelugn dekorationsm&aring;lad med rosenmotiv, olika jippon i tr&auml;dg&aring;rden och i sommarrummet installationen : Tyt&ouml;n parhaat yst&auml;v&auml;t. I aff&auml;ren s&auml;ljs rosenb&ouml;cker och rosenk&auml;rl. &ouml;ppen fre l&ouml; s&ouml; 10-17.</li>
			<li>Tuhannen tuskan kahvila, Mariegatan 2 c, Caf&eacute;t bel&auml;get i Liisantalos gamla stall: minirosor, servering i rosenkoppar, rosendelikatesser. &ouml;ppen varje dag 10-18. <a href="http://www.liisantalo.fi">&#187; www.liisantalo.fi.</a></li> 
			<li>Lowisa Rosarium/H&auml;lsostationens rosentr&auml;dg&aring;rd/&ouml;hmansgatan 4. Rosenexperten fr&aring;n &aring;bo, Toini Gr&ouml;nqvist har sk&auml;nkt 33 gamla rosor/16 olika arter.</li> 
			<li>Pilasternas roseng&aring;rd fr&aring;n 1800-talet. Smedsgr&auml;nd 8. Cafe -&ouml;&ouml;ppen fre och s&ouml;. <a href="http://www.degerby.com">&#187; www.degerby.com</a></li>
			<li>Kapellet, Kapellparken. Rosente och f&ouml;rfriskningar. De vackraste rosenbuketterna och rosenkonst mm. <a href="http://www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></li>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Rosor i tr&auml;dg&aring;rden, konst, handarbeten, produkter, cafeterian och i baren mm. <a href="http://www.ulrikakoti.fi">&#187; www.ulrikakoti.fi</a></li>
		</ol>
		<p><b>ROSOR I KONST</b></p>
		<ol>
			<li>Lovisa stads museum, Kommendanthuset fr&aring;n 1700-talet, Parkgatan 2. Rosor i bild och broderi. Utst&auml;llningen &ouml;ppen 17.6.-14.8.2011 i mus&eacute;ets tredje v&aring;ning. Fre 8.7 fritt intr&auml;de mellan 11-16, l&ouml; s&ouml; 10-16.<a href="http://www.loviisa.fi">&#187; www.loviisa.fi</a></li>
			<li>Bonga slott, Slottsgr&auml;nden. Riitta Nelimarkkas museum: utst&auml;llningen Rose de la montagne. 9.7. kl 11-16 och 10.8. kl 11-15. <a href="http://www.bonga.fi">&#187; www.bonga.fi</a></li>
			<li>Skeppsbron, Kaisa Strand&eacute;ns Sein&auml;ruusut-utst&auml;llning samt Mirja Backmanssons rosenstolar i Salttis boda 27.6.-10.7. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Skeppsbron, utst&auml;llningen a rose is a rose is a rose.Lovisa skolelevers konstt&auml;vling med rosenmotiv, presentation av de b&auml;sta konstverken i Klassiska b&aring;tarnas boda 27.6.-20.7. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Konstvinden, Alexandersgatan 8. Christer &aring;bergs utst&auml;llning Roseng&aring;rd, varje to 13-17 och 9.-10.7 klo 10-17. <a href="http://www.aleksanteri.fi">&#187; www.aleksanteri.fi</a></li></li>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Lovisanejdens konstn&auml;rers konstverk med rosenmotiv. Bl.a. Frida Hultcrantz, Tina Karvonen, Aarne Kyr&ouml;l&auml;inen, Taisto Huttunen, Kristina Elo, Ilona Valkonen, Kaija Ilom&auml;ki och &aring;sa Riippa.</i>
			<li>Lovisabornas rosor. Lovisanejdens konstf&ouml;rening aktiverar innev&aring;narna att m&aring;la rosor till ett stort gemensamt konstverk med rosenmotiv to 7.7. fr&aring;n och med kl18 framf&ouml;r Galleri Theodor.</li>
			<li>Kapellet, Kapellparken. Rosente och f&ouml;rfriskningar. De vackraste rosenbuketterna och Minerva Martinoffs handarbeten med rosenmotiv, bl.a. lappt&auml;cken. <a href="http://www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></li>
			<li>La Fil's f&ouml;nster, Drottninggatan 5. Rosor till Lovisa, med k&auml;rlek Helena. Helena Budas rosenfotografiutst&auml;llning.</li>
			<li>Schillmarcks park, Mariegatan 2. Barnens sagopark. P&aring; plats finns prinsessan T&ouml;rnrosa och ett sagot&auml;lt.</li>
			<li>Biblioteket, Drottninggatan 24. Biblioteket blommar, b&ouml;cker om rosor 4.7.–31.7. Fre 8.7. kl 10 sago- och lekstund i rosornas tecken f&ouml;r barnen samt prinsessan T&ouml;rnrosa. </li>
		</ol>
		<p><b>ROSOR I MUSIK</b></p>
		<ol>
			<li>Lovisa Gymnasium, Brandensteinsgatan 27. Svarta rosor, en full&aring;ng konsert om kvinnans liv. Operas&aring;ngerskorna Rita Bergman och Ida Wallen samt Lasse Hirvis trio och Esa Pethman, l&ouml; 17.00. Biljetter 20&euro;, pension&auml;rer och studeranden 10&euro;.</li>
			<li>Trubadurer och deklamerande av dikter i rosenmilj&ouml;er.</li>
			<li>Skeppsbron, Rosornas dans l&ouml; 19.00. Orkestern Stella & Streamlines. Rosenkavaljerer bjuder upp till dans. Den vackraste rosenkl&auml;nningen bel&ouml;nas. F&ouml;rhandspresentation av Miss Lovisa 2011-kandidaterna. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Skeppsbron, s&ouml; 14-16. Benny T&ouml;rnroos & Calle Pettersson, rosenklingande alls&aring;ng och mumin samt prinsessan T&ouml;rnrosa gl&auml;djer barnen. Lovisa teater eklamerar skolelevernas prisbel&ouml;nta dikter. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Kapellet, V&auml;stra &aring;sv&auml;gen. Prinsessan T&ouml;rnrosa och de vackraste br&ouml;llopsmarscherna. Orgelkonsert av Arno Kantola s&ouml; kl 16.</li>
		</ol>
		<p><b>ROSENKURSER mm</b></p>
		<ol>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Repininstitutet: akvarellm&aring;lningskurs, l&auml;rare: St Petersburgs Bildkonstakademis Olga Denisenko. <a href="http://www.ulrikanhovi.fi">&#187; www.ulrikanhovi.fi</a></li>
			<li>Ulrikahemmet, Rosor av vitchoklad och marzipan. Sompong.</li>
			<li>Keskus - Centralen, S&ouml;dra &aring;sen 2. Rosentv&aring;l. Merja Saario ordnar skolning om hur man framst&auml;ller ekologisk tv&aring;l. F&ouml;rfr&aring;gningar <a href="http://keskus-centralen.fi">&#187; www.keskus-centralen.fi</a></li>
		</ol>
		<p><b>ROSOR P&Aring; TALLRIK, I GLAS OCH I F&Ouml;NSTREN</b></p>
		<ol>
			<li>Pilasterna. L&ouml; 10-16 Rosenbrunch. Anita Zieme, kock och f&ouml;rfattare fr&aring;n Sverige, ber&auml;tter om mat av rosor och blommor 10-12 varefter serveringen b&ouml;rjar. <a href="http://www.degerby.com">&#187; www.degerby.com</a></li>
			<li>Degerby Gille, Smedsgr&auml;nd 4, s&ouml; 11.30-16.00, rosencaf&eacute; och Sk&auml;rg&aring;rdsbord med rosenfl&auml;kt.</li>
			<li>Rosor i n&aring;gon form i restauranger och caf&eacute;er: bakelser, drycker, kakor.</li>
			<li>Rosendelicatesser I rosentr&auml;dg&aring;rdarna, rosente, kakor, bakelser, fyllda rosor mm.</li>
			<li>Lovisa F&auml;rghandel, Drottninggatan 3, st&auml;ller ut rosentapeter.</li>
			<li>I stadens aff&auml;rers skyltf&ouml;nster blommar rosorna i olika former, dekorationer, f&ouml;rem&aring;l mm.</li>
		</ol>
	</div>
</div>

<div class="item c">
	<h2>Musiken ljuder i Lovisa Historiska Hus</h2>
    <p class="date">publicerade 1.12.2011</p>
    <p class="intro"><img class="thumb" src="lwt/images/news_soivat-thumb.jpg"><img class="full" src="lwt/images/news_soivat.jpg">Lovisa Historiska Hus -27-28. augusti 2011 har vuxit till det st&ouml;rsta publikevenemanget i &ouml;st-Nyland och &ouml;ppnar d&ouml;rrarna till de historiska hemmen ioch tr&auml;dg&aring;rdarna i Lovisa f&ouml;r sjunde g&aring;ngen.  I &aring;r ordnas Sibeliusdagarna  avvikande  vid samma tidpunkt och d&auml;rf&ouml;r kommer musiken att ljuda &auml;ven i Lovisa Historiska Hus. <span class="readmore">Lue lis&auml;&auml;..</span></p>
    <div class="more">
		<p>Evenemanget har uppm&auml;rksammats p&aring; m&aring;nga s&auml;tt:  Nylands milj&ouml;pris 2007, Lovisa medalj 2008, Finland Arkitektf&ouml;rbunds h&ouml;gt uppskattade SAFA-pris 2009 och ett hedersomn&auml;mnade i  &ouml;N:s Vartti-tidnings Vuoden kaupunkiteko 2010.</p>
		<p>Under Lovisa Historiska Hus evenemanget erbjuds vid sidan om den unika m&ouml;jligheten att bes&ouml;ka  privathem &auml;ven ett seminarium om renovering och byggnadsv&aring;rd samt arbetsuppvisningar.  Det popul&auml;ra ITU-torget, som erbjuder lokala produkter gjorda av ekor&aring;varor och n&auml;rodlat, utvidgas ytterligare och k&auml;nda kockar bjuder p&aring; b&aring;de r&aring;d och "arbetsuppvisningar".</p>
    	<p><a href="http://www.loviisansibeliuspaivat.fi/?lang=sv">&#187; www.loviisansibeliuspaivat.fi</a></p>
   	</div>
</div>

</div>