<div class="news c">

<div class="item c">
	<h2>LHH-dagarnas program och biljettpriser</h2>
	<p class="date">publicerade 16.8.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_ohjelma-thumb.jpg"><img class="full" src="lwt/images/news_ohjelma.jpg"><b>Biljetterna kostar 12 euro</b>, barn under 12 &aring;r gratis. &Ouml;ver 20 personers grupper: biljetter &aacute; 10 euro.<br/><br/><b>Biljettf&ouml;rs&auml;ljning:</b> Lovisa torg, Saltbodstorget, Mairegatan, Drottninggatan, Ulrikahemmet, Eija's Garden och Isn&auml;s. Vid biljettk&ouml;p f&aring;r man en karta &ouml;ver evenemang-omr&aring;det samt m&auml;sstidningen. <span class="readmore">Lue lis&auml;&auml; ohjelmasta..</span></p>
	<div class="more">
		<p><b><u>PROGRAM</u></b></p>
		<p><b>Antikmarknad och Alexandersg&aring;rden</b>, Alexandersgatan 8. Konstutst&auml;llningar, konstn&auml;rer i sina arbetsrum, mycket att se, uppleva och smaka p&aring;. L&ouml; och s&ouml; 10-17.</p>
		<p><b>Apotekshuset</b>, Alexandersgatan 6, antik- och design-lopptorg. L&ouml; och s&ouml; 10-18.</p>
		<p><b>Apoteket Kronan</b>, grundat &aring;r 1754 och bel&auml;get i ett gammalt skeppsredarpalats, &ouml;ppet l&ouml; kl 9-14 och s&ouml; kl 12-14. </p>
		<p><b>Barnparkering</b>, vid Skeppsbron, b&auml;gge dagarna kl 10-17.</p>
		<p><b>Biblioteket</b>, Drottninggatan 24. Beundra det magnifikt restaurerade Societetshuset och observera takm&aring;lningarna! &Ouml;ppet f&ouml;r allm&auml;nheten b&aring;da dagarna kl 10-17.</p>
		<p><b>Bonga slott</b>, Slottsgr&auml;nd, <b>Riitta Nelimarkkas</b> museum och galleri. <b>Bongan Linna</b>.  Fre 26.8 16-19, l&ouml; 12-18 och s&ouml; 12-15. Intr&auml;de. Sibeliusdagarnas konsert Sillsallad a la Bonga, l&ouml; 18.00, biljetter 25 &euro;. <b>Privatsidan</b> &ouml;ppen f&ouml;r allm&auml;nheten l&ouml; 12-17 och s&ouml; 12-15.</p>
		<p><b>Degerby Gille</b>, Smedsgr&auml;nd 6. En av Finlands &auml;ldsta stockbyggnader fr&aring;n 1600-talet. Sk&auml;rg&aring;rdsbordet serverat l&ouml;-s&ouml; 11.30-16.</p>
		<p><b>Degerby Gilles g&aring;rdsbyggnad</b>. Kai Anderssons arkitektbyr&aring;, d&auml;r Kai Andersson personligen ger r&aring;d g&auml;llande renovering av historiska hus. L&ouml; 11-14 och s&ouml; 11-15.</p>
		<p><b>Ekudden</b>. Ekuddens camping. Kaptensv&auml;gen 1. Historiska villor och en tr&auml;dg&aring;rd i engelsk stil intill havet.</p>
		<p><b>Forum</b>, Brandensteinsgatan 13, TA-DAA, historisk dans- och konstverkstad f&ouml;r barn i &aring;ldern  6-10, p&aring; finska l&ouml; 10-14, svenska su 10-14.</p>
		<p><b>Galleri Theodor</b>. Mariegatan 21. Lovisanejdens konstn&auml;rers &aring;rsutst&auml;llning l&ouml;-s&ouml; 10-17.</p>
		<p><b>Kapellet</b> i Kapellparken renoveras som b&auml;st. Arbetsf&ouml;revisningar, utst&auml;llningen H&auml;&auml;huone, f&ouml;rs&auml;lning av Kapellets produkter mm. och annat program. &Ouml;ppen f&ouml;r allm&auml;nheten b&aring;da dagarna 10-17.</p>
		<p><b>Lovisa-info</b>, Saltbodtorget, svar p&aring; dina fr&aring;gor om boende, fritid och service. L&ouml;-s&ouml; kl 10-17.</p>
		<p><b>Lovisa-guideturer.</b> Information om tomter, boende och Lovisa. Start l&ouml; och s&ouml; kl 11 och 14 fr&aring;n turisth&aring;llplatsen invid R&aring;dhusparken. R&auml;cker c. 1 h. Avgiftsfri</p>
		<p><b>Lovisa stads museum</b>, Kommendantshuset, stadens museum, Parkgatan 2. Utst&auml;llningen Museim&ouml;ssens tidsresa samt Konstmuseimanifest, Samutst&auml;llning f&ouml;r Lovisanejdens konstn&auml;rer l&ouml; och s&ouml; kl 10-17.</p>
		<p><b>Lovisa torg.</b> L&ouml; kl 7-17 och s&ouml; kl 10-17. LHH-biljettf&ouml;rs&auml;ljning, l&ouml;-s&ouml; 9.30 -17.</p>
		<p><b>Ortodoxa f&auml;ltkyrkan</b>, Den Heliga jungfru Maria Kazanskajas kyrka, &Ouml;stra Tullgatan 17, &ouml;ppen b&aring;da dagarna kl 12-16.</p>
		<p><b>Pilastrarna</b>, Smedsgr&auml;nd 8. Fastigheten byggd delvis p&aring; 1700-talet. G&aring;rden &ouml;ppen f&ouml;r allm&auml;nheten.</p>
		<p><b>Producenttorget ITU-tori</b>, Karlskronanbulevarden. &Ouml;stra Nylands Byar rf: H&auml;rliga lokala produkter, ekor&aring;varor, n&auml;rmat, hantverksprodukter och f&ouml;rem&aring;l samt f&ouml;reningar och lokala aktiviteter. </p>
		<p><b>Producenttorget ITU, POP UP</b>-restaurang. Hotel Degerby erbjuder ekologiskt och n&auml;rproducerat. L&ouml; 10-18 och s&ouml; 10-16.</p>
		<p><b>Saltbodtorget</b>, den historiska nedre staden. Utst&auml;llare, arbetsuppvisningar och gatuk&ouml;k samt</p>
		<p><b>Lovisa stads info</b>. Svar p&aring; dina fr&aring;gor om boende, fritid och service. L&ouml;-s&ouml; kl 10-17.</p>
		<p><b>Samlarm&auml;ssan</b>. Lovisa Gymnasium, Brandensteinsgatan 27, Lovisanejdens samlarm&auml;ssa, antikviteter, samlingsobjekt, postkort mm. L&ouml;-s&ouml; 9-17. Lovisa Stads Goda Inw&aring;nares soldater skjuter med 1700-talsvapen en tidssignal l&ouml; och s&ouml; kl 10.00.</p>
		<p><b>Sibeliushuset</b>, Musikinstitutet, Sibeliusgatan 10. Sibelius sommarhem under ungdoms&aring;ren. Presentation av huset l&ouml; 10-17, matiné 12 och 14. Musikinstitutets l&auml;rare med elever upptr&auml;der i husen och p&aring; stan l&ouml;-s&ouml;.</p>
		<p><b>Sj&ouml;fartsmuseet</b> vid Skeppsbron. L&ouml; 10.00-17.30, s&ouml; 11-16. Intr&auml;de 1&euro;.</p>
		<p><b>Skeppsbron</b>, Strandv&auml;gen. L&ouml; och s&ouml; h&ouml;stmarknad, restauranger och utst&auml;llningar. L&ouml; kv&auml;ll dans fr&aring;n 19.00 och 21.30 Forneldarnas natt. Klassiska b&aring;tarnas boda, Repin-institutets bildkonstlinjes utst&auml;llning.</p>
		<p><b>Svartholms f&auml;stning</b>. Vattenbuss avg&aring;r fr&aring;n Skeppsbron l&ouml; och s&ouml; kl 12, retur fr&aring;n Svartholm kl 16. Guidade turer p&aring; &ouml;n kl 13 p&aring; finska och kl 14 p&aring; svenska. Avgift. Utst&auml;llningen l&ouml;-s&ouml; kl 12-16.</p>
		<p><b>Traditionsrenoverings- och byggnadsv&aring;rdsklinik i R&aring;dhuset</b>, ordnas av Lovisa kultur- och milj&ouml;r&ouml;relse rf. "Husdoktor" <b>Panu Kaila</b> svarar p&aring; allm&auml;nhetens fr&aring;gor l&ouml; 11.00-13.30. </p>
		<p><b>Traditionsbyggnad- och renovering seminariet</b>, Hotel Degerby, Commodore-salen, Brandensteinsgatan 17. L&ouml; 14.30-17.00.</p>
		<p><b>Turistbyr&aring;n</b>, Karlskronanbulevarden 8, tel 019 555 234. L&ouml;-s&ouml; kl 9-18. Brukets sommarinfo, l&ouml;-s&ouml; kl 11-17.</p>
		<p><b>Ulrikahemmet</b>, Kuhlefeltsgatan 35. Farmors st&aring;ende bord 15&euro;  l&ouml; 13-18, s&ouml; 12-17. Handarbetsaff&auml;ren Ukkola &ouml;ppen l&ouml; 10-18, s&ouml; 10-17. Lopptorg. <b>LHH-biljettf&ouml;rs&auml;ljning.</b></p>
		<p><b>Ungern</b>, Jean S.-konsert l&ouml; 21.00. Biljetter 25 &euro;.</p>
		<p><b>&Ouml;sterstjernan</b>, Skeppsbron. Replik av paketjakt fr&aring;n 1800-talet. </p>
		<p>&nbsp;</p>
		<p><b><u>UNDER SAMMA VECKOSLUT I LOVISA</u></b></p>
		<p><b>Isn&auml;sin sahalla soi</b>-evenemanget l&ouml;-s&ouml;, Isn&auml;s</p>
		<p><b>Jokela hembygdsmuseum</b>, Str&ouml;mfors: Gamla tiders dagar l&ouml;-s&ouml;.</p>
		<p><b>&Ouml;vriga h&auml;ndelser samt museer, <a href="http://www.loviisa.fi">www.loviisa.fi</a></b></p>
 	</div>
</div>

<div class="item c">
	<h2>Rosornas charm i Lovisa - ett rosenskimrande veckoslut - PROGRAM OCH KARTA</h2>
    <p class="date">publicerade 7.7.2011</p>
    <p class="intro"><img class="thumb" src="lwt/images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="lwt/images/news_ruusujenhurmaa.jpg">Lovisa intas av rosor i m&aring;nga olika former under evenemanget Rosornas charm, som &auml;ger rum  8-10 juli 2011. &nbsp;&nbsp;&nbsp;&nbsp;<a style="font-weight: bold;" href="/RuusujenHurmaa-kartta.pdf">&#187; Klicka h&auml;r f&ouml;r PDF-karta.</a><br/><span class="readmore">L&auml;s mer..</span></p>
    <div class="more">
		<p>Bes&ouml;karna bjuds p&aring; rosendoft i rosentr&auml;dg&aring;rdar och rosor i poesi, musik och konst. Enskilda konstn&auml;rer st&auml;ller ut sin rosenkonst. Professorer fr&aring;n Sankt Petersburgs bildkonstakademi l&auml;r ut akvarellm&aring;lning med rosenmotiv p&aring; Repin-institutets kurser och resultatet finns att besk&aring;da under Rosornas charm-evenemanget.  Stadsmuseet i  Kommendanthuset ordnar den h&auml;nf&ouml;rande utst&auml;llningen Rosor i bild och broderi.</p>
		<p>Rosornas historia och rosenodlingen belyses vid expertf&ouml;redrag och rosendoften f&ouml;rf&ouml;r p&aring; kurs i tillverkning av rosentv&aring;l. De lokala sk&ouml;nhetssalongerna erbjuder rosenbehandling och i stadens aff&auml;rer hittar man tyger, tapeter, k&auml;rl och prydnadsf&ouml;rem&aring;l med rosenmotiv.</p>
		<p>P&aring; matlagningskurserna f&aring;r deltagarna l&auml;ra sig hur man anv&auml;nder rosor och andra blommor i k&ouml;ket. Stadens kaf&eacute;er, restauranger och de privata rosentr&auml;dg&aring;rdarna bjuder p&aring; mat och dryck med rosenfl&auml;kt. Barnen f&aring;r tr&auml;ffa prinsessan T&ouml;rnrosa och hennes rosen&auml;lvor i en sagopark, som barnen sj&auml;lva dekorerat.</p>
		<p><b>ROSOR I TR&Auml;DG&Aring;RDAR</b></p>
		<ol>
			<li>Villa Aaltonen, L&aring;nggr&auml;nd 12. Ca 50 olika rosenarter i den stora blomstertr&auml;dg&aring;rden, rosenprodukter och mat. &ouml;ppen fre l&ouml; s&ouml; 10-17.</li>
			<li>Kuninkaanlampi, Kuhlefeltsgatan 8. Mer &auml;n 70 olika rosenarter i den vackra tr&auml;dg&aring;rden intill dammen, m&aring;nga engelska rosor, rosenprodukter. Caf&eacute; i Rosenk&auml;llaren. &ouml;ppen fre l&ouml; s&ouml; 10-17.  <a href="http://www.kuninkaanlampi.fi">&#187; www.kuninkaanlampi.fi</a></li>
			<li>Eija's Garden - upplevelsetr&auml;dg&aring;rden i Str&ouml;mfors, Elim&auml;kiv&auml;gen 74. L&ouml; och s&ouml; f&ouml;redrag: Miten rakennan englantilaisen ruusupenkin. Historiska rosenbilder av Redout&eacute;. Ett stort urval av rosor i aff&auml;ren, fre l&ouml; s&ouml; till specialpris. &ouml;ppen varje dag. <a href="http://www.eijasgarden.fi">&#187; www.eijasgarden.fi</a></li>
			<li>Wanha kauppa, &ouml;stra Tullgatan 20, kakelugn dekorationsm&aring;lad med rosenmotiv, olika jippon i tr&auml;dg&aring;rden och i sommarrummet installationen : Tyt&ouml;n parhaat yst&auml;v&auml;t. I aff&auml;ren s&auml;ljs rosenb&ouml;cker och rosenk&auml;rl. &ouml;ppen fre l&ouml; s&ouml; 10-17.</li>
			<li>Tuhannen tuskan kahvila, Mariegatan 2 c, Caf&eacute;t bel&auml;get i Liisantalos gamla stall: minirosor, servering i rosenkoppar, rosendelikatesser. &ouml;ppen varje dag 10-18. <a href="http://www.liisantalo.fi">&#187; www.liisantalo.fi.</a></li> 
			<li>Lowisa Rosarium/H&auml;lsostationens rosentr&auml;dg&aring;rd/&ouml;hmansgatan 4. Rosenexperten fr&aring;n &aring;bo, Toini Gr&ouml;nqvist har sk&auml;nkt 33 gamla rosor/16 olika arter.</li> 
			<li>Pilasternas roseng&aring;rd fr&aring;n 1800-talet. Smedsgr&auml;nd 8. Cafe -&ouml;&ouml;ppen fre och s&ouml;. <a href="http://www.degerby.com">&#187; www.degerby.com</a></li>
			<li>Kapellet, Kapellparken. Rosente och f&ouml;rfriskningar. De vackraste rosenbuketterna och rosenkonst mm. <a href="http://www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></li>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Rosor i tr&auml;dg&aring;rden, konst, handarbeten, produkter, cafeterian och i baren mm. <a href="http://www.ulrikakoti.fi">&#187; www.ulrikakoti.fi</a></li>
		</ol>
		<p><b>ROSOR I KONST</b></p>
		<ol>
			<li>Lovisa stads museum, Kommendanthuset fr&aring;n 1700-talet, Parkgatan 2. Rosor i bild och broderi. Utst&auml;llningen &ouml;ppen 17.6.-14.8.2011 i mus&eacute;ets tredje v&aring;ning. Fre 8.7 fritt intr&auml;de mellan 11-16, l&ouml; s&ouml; 10-16.<a href="http://www.loviisa.fi">&#187; www.loviisa.fi</a></li>
			<li>Bonga slott, Slottsgr&auml;nden. Riitta Nelimarkkas museum: utst&auml;llningen Rose de la montagne. 9.7. kl 11-16 och 10.8. kl 11-15. <a href="http://www.bonga.fi">&#187; www.bonga.fi</a></li>
			<li>Skeppsbron, Kaisa Strand&eacute;ns Sein&auml;ruusut-utst&auml;llning samt Mirja Backmanssons rosenstolar i Salttis boda 27.6.-10.7. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Skeppsbron, utst&auml;llningen a rose is a rose is a rose.Lovisa skolelevers konstt&auml;vling med rosenmotiv, presentation av de b&auml;sta konstverken i Klassiska b&aring;tarnas boda 27.6.-20.7. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Konstvinden, Alexandersgatan 8. Christer &aring;bergs utst&auml;llning Roseng&aring;rd, varje to 13-17 och 9.-10.7 klo 10-17. <a href="http://www.aleksanteri.fi">&#187; www.aleksanteri.fi</a></li></li>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Lovisanejdens konstn&auml;rers konstverk med rosenmotiv. Bl.a. Frida Hultcrantz, Tina Karvonen, Aarne Kyr&ouml;l&auml;inen, Taisto Huttunen, Kristina Elo, Ilona Valkonen, Kaija Ilom&auml;ki och &aring;sa Riippa.</i>
			<li>Lovisabornas rosor. Lovisanejdens konstf&ouml;rening aktiverar innev&aring;narna att m&aring;la rosor till ett stort gemensamt konstverk med rosenmotiv to 7.7. fr&aring;n och med kl18 framf&ouml;r Galleri Theodor.</li>
			<li>Kapellet, Kapellparken. Rosente och f&ouml;rfriskningar. De vackraste rosenbuketterna och Minerva Martinoffs handarbeten med rosenmotiv, bl.a. lappt&auml;cken. <a href="http://www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></li>
			<li>La Fil's f&ouml;nster, Drottninggatan 5. Rosor till Lovisa, med k&auml;rlek Helena. Helena Budas rosenfotografiutst&auml;llning.</li>
			<li>Schillmarcks park, Mariegatan 2. Barnens sagopark. P&aring; plats finns prinsessan T&ouml;rnrosa och ett sagot&auml;lt.</li>
			<li>Biblioteket, Drottninggatan 24. Biblioteket blommar, b&ouml;cker om rosor 4.7.–31.7. Fre 8.7. kl 10 sago- och lekstund i rosornas tecken f&ouml;r barnen samt prinsessan T&ouml;rnrosa. </li>
		</ol>
		<p><b>ROSOR I MUSIK</b></p>
		<ol>
			<li>Lovisa Gymnasium, Brandensteinsgatan 27. Svarta rosor, en full&aring;ng konsert om kvinnans liv. Operas&aring;ngerskorna Rita Bergman och Ida Wallen samt Lasse Hirvis trio och Esa Pethman, l&ouml; 17.00. Biljetter 20&euro;, pension&auml;rer och studeranden 10&euro;.</li>
			<li>Trubadurer och deklamerande av dikter i rosenmilj&ouml;er.</li>
			<li>Skeppsbron, Rosornas dans l&ouml; 19.00. Orkestern Stella & Streamlines. Rosenkavaljerer bjuder upp till dans. Den vackraste rosenkl&auml;nningen bel&ouml;nas. F&ouml;rhandspresentation av Miss Lovisa 2011-kandidaterna. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Skeppsbron, s&ouml; 14-16. Benny T&ouml;rnroos & Calle Pettersson, rosenklingande alls&aring;ng och mumin samt prinsessan T&ouml;rnrosa gl&auml;djer barnen. Lovisa teater eklamerar skolelevernas prisbel&ouml;nta dikter. <a href="http://www.laivasilta.net">&#187; www.laivasilta.net</a></li>
			<li>Kapellet, V&auml;stra &aring;sv&auml;gen. Prinsessan T&ouml;rnrosa och de vackraste br&ouml;llopsmarscherna. Orgelkonsert av Arno Kantola s&ouml; kl 16.</li>
		</ol>
		<p><b>ROSENKURSER mm</b></p>
		<ol>
			<li>Ulrikahemmet, Kuhlefeltsgatan 35. Repininstitutet: akvarellm&aring;lningskurs, l&auml;rare: St Petersburgs Bildkonstakademis Olga Denisenko. <a href="http://www.ulrikanhovi.fi">&#187; www.ulrikanhovi.fi</a></li>
			<li>Ulrikahemmet, Rosor av vitchoklad och marzipan. Sompong.</li>
			<li>Keskus - Centralen, S&ouml;dra &aring;sen 2. Rosentv&aring;l. Merja Saario ordnar skolning om hur man framst&auml;ller ekologisk tv&aring;l. F&ouml;rfr&aring;gningar <a href="http://keskus-centralen.fi">&#187; www.keskus-centralen.fi</a></li>
		</ol>
		<p><b>ROSOR P&Aring; TALLRIK, I GLAS OCH I F&Ouml;NSTREN</b></p>
		<ol>
			<li>Pilasterna. L&ouml; 10-16 Rosenbrunch. Anita Zieme, kock och f&ouml;rfattare fr&aring;n Sverige, ber&auml;tter om mat av rosor och blommor 10-12 varefter serveringen b&ouml;rjar. <a href="http://www.degerby.com">&#187; www.degerby.com</a></li>
			<li>Degerby Gille, Smedsgr&auml;nd 4, s&ouml; 11.30-16.00, rosencaf&eacute; och Sk&auml;rg&aring;rdsbord med rosenfl&auml;kt.</li>
			<li>Rosor i n&aring;gon form i restauranger och caf&eacute;er: bakelser, drycker, kakor.</li>
			<li>Rosendelicatesser I rosentr&auml;dg&aring;rdarna, rosente, kakor, bakelser, fyllda rosor mm.</li>
			<li>Lovisa F&auml;rghandel, Drottninggatan 3, st&auml;ller ut rosentapeter.</li>
			<li>I stadens aff&auml;rers skyltf&ouml;nster blommar rosorna i olika former, dekorationer, f&ouml;rem&aring;l mm.</li>
		</ol>
	</div>
</div>

<div class="item c">
	<h2>Musiken ljuder i Lovisa Historiska Hus</h2>
    <p class="date">publicerade 1.12.2011</p>
    <p class="intro"><img class="thumb" src="lwt/images/news_soivat-thumb.jpg"><img class="full" src="lwt/images/news_soivat.jpg">Lovisa Historiska Hus -27-28. augusti 2011 har vuxit till det st&ouml;rsta publikevenemanget i &ouml;st-Nyland och &ouml;ppnar d&ouml;rrarna till de historiska hemmen ioch tr&auml;dg&aring;rdarna i Lovisa f&ouml;r sjunde g&aring;ngen.  I &aring;r ordnas Sibeliusdagarna  avvikande  vid samma tidpunkt och d&auml;rf&ouml;r kommer musiken att ljuda &auml;ven i Lovisa Historiska Hus. <span class="readmore">Lue lis&auml;&auml;..</span></p>
    <div class="more">
		<p>Evenemanget har uppm&auml;rksammats p&aring; m&aring;nga s&auml;tt:  Nylands milj&ouml;pris 2007, Lovisa medalj 2008, Finland Arkitektf&ouml;rbunds h&ouml;gt uppskattade SAFA-pris 2009 och ett hedersomn&auml;mnade i  &ouml;N:s Vartti-tidnings Vuoden kaupunkiteko 2010.</p>
		<p>Under Lovisa Historiska Hus evenemanget erbjuds vid sidan om den unika m&ouml;jligheten att bes&ouml;ka  privathem &auml;ven ett seminarium om renovering och byggnadsv&aring;rd samt arbetsuppvisningar.  Det popul&auml;ra ITU-torget, som erbjuder lokala produkter gjorda av ekor&aring;varor och n&auml;rodlat, utvidgas ytterligare och k&auml;nda kockar bjuder p&aring; b&aring;de r&aring;d och "arbetsuppvisningar".</p>
    	<p><a href="http://www.loviisansibeliuspaivat.fi/?lang=sv">&#187; www.loviisansibeliuspaivat.fi</a></p>
   	</div>
</div>

</div>