<div class="news c">

<div class="item c">
	<h2>Loviisan Wanhat Talot Wanhan Ajan Joulukoteina Loviisan joulussa</h2>
	<p class="date">julkaistu 28.11.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_joulu-thumb.jpg"><img class="full" src="lwt/images/news_joulu.jpg" style="margin-bottom: 2em;">Ajurintalo, Kuninkaanlampi, Pitk&auml;np&ouml;yd&auml;ntalo ja Villa Aaltonen ovat Wanhan Ajan Joulukoteina auki suurelle yleis&ouml;lle Loviisan joulussa 3.-4. ja 10.-11.12.2011 klo 10-16. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Jokaisen vanhan talon jouluasu on erilainen ja ainutkertainen ja talot tarjoavat omia herkkujaan ja joululahjaideoita moneen eri makuun. Liisantalo viett&auml;&auml; v&auml;livuotta, mutta sen Tuhannen Tuskan kahvila luumusyd&auml;misine munkkeineen on auki, samoin Taisto Huttusen taidepiha. My&ouml;s Bongan linnan Riitta Nelimarkka -museon v&auml;ri-iloittelua voi ihailla samoina viikonloppuina klo 12-15.</p>
		<p>Lis&auml;&auml; tietoja Loviisan joulutapahtumista l&ouml;ytyy Loviisan Kaupungin joulusivuilta:<br/><a href="http://www.loviisa.fi/fi/palvelut/matkailu/loviisanjoulu">&#187; www.loviisa.fi</a></p>
	</div>
</div>

<div class="item c">
	<h2>Ruusujen hurmaa Loviisassa</h2>
	<p class="date">julkaistu 28.11.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="lwt/images/news_ruusujenhurmaa.jpg">Ihanat ruusut - kaikissa mahdollisissa muodoissa - valloittavat Loviisan Ruusujen hurmaa - tapahtuman aikana 7.-8.7.2012 <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Ruusuja l&ouml;ytyy - paitsi loviisalaisista ruusutarhoista - my&ouml;s runoissa, musiikissa ja taiteessa, sek&auml; ruoassa ett&auml; juomissa.</p>
	</div>
</div>

</div>