<div class="news c">

<div class="item c">
	<h2>Loviisan Wanhat Talot Wanhan Ajan Joulukoteina Loviisan joulussa</h2>
	<p class="date">julkaistu 28.11.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_joulu-thumb.jpg"><img class="full" src="lwt/images/news_joulu.jpg" style="margin-bottom: 2em;">Ajurintalo, Kuninkaanlampi, Pitk&auml;np&ouml;yd&auml;ntalo ja Villa Aaltonen ovat Wanhan Ajan Joulukoteina auki suurelle yleis&ouml;lle Loviisan joulussa 3.-4. ja 10.-11.12.2011 klo 10-16. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Jokaisen vanhan talon jouluasu on erilainen ja ainutkertainen ja talot tarjoavat omia herkkujaan ja joululahjaideoita moneen eri makuun. Liisantalo viett&auml;&auml; v&auml;livuotta, mutta sen Tuhannen Tuskan kahvila luumusyd&auml;misine munkkeineen on auki, samoin Taisto Huttusen taidepiha. My&ouml;s Bongan linnan Riitta Nelimarkka -museon v&auml;ri-iloittelua voi ihailla samoina viikonloppuina klo 12-15.</p>
		<p>Lis&auml;&auml; tietoja Loviisan joulutapahtumista l&ouml;ytyy Loviisan Kaupungin joulusivuilta:<br/><a href="http://www.loviisa.fi/fi/palvelut/matkailu/loviisanjoulu">&#187; www.loviisa.fi</a></p>
	</div>
</div>

<div class="item c">
	<h2>Ruusujen hurmaa Loviisassa</h2>
	<p class="date">julkaistu 28.11.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_ruusujenhurmaa-thumb.jpg"><img class="full" src="lwt/images/news_ruusujenhurmaa.jpg">Ihanat ruusut - kaikissa mahdollisissa muodoissa - valloittavat Loviisan Ruusujen hurmaa - tapahtuman aikana 8.-9.7.2012 <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>Ruusuja l&ouml;ytyy - paitsi loviisalaisista ruusutarhoista - my&ouml;s runoissa, musiikissa ja taiteessa, sek&auml; ruoassa ett&auml; juomissa.</p>
	</div>
</div>

<div class="item c">
	<h2>Loviisan Wanhat Talot - lehdist&ouml;tiedote 29.8.2011</h2>
	<p class="date">julkaistu 29.8.2011</p>
	<p class="intro"><img class="thumb" src="lwt/images/news_tiedote-thumb.jpg"><img class="full" src="lwt/images/news_tiedote.jpg">Loviisan Wanhat Talot - p&auml;ivien huikea suosio jatkui my&ouml;s t&auml;n&auml;kin vuonna. Kotisivujenkin liikenn&ouml;intiraja tuli sunnuntaina k&auml;vij&auml;m&auml;&auml;r&auml;n runsauden takia t&auml;yteen eik&auml; sivuille valitettavasti p&auml;&auml;ssyt ennen maanantaiaamua. <span class="readmore">Lue lis&auml;&auml;..</span></p>
	<div class="more">
		<p>LWT houkuttelee Loviisaan my&ouml;s yh&auml; enemm&auml;n sellaisia vierailijoita, jotka eiv&auml;t hanki taloranneketta. Loviisan seudun ker&auml;ilij&ouml;iden suurtapahtumassa pantiin merkille, ett&auml; ranneke oli lauantaina vain joka 10.ll&auml;  ja sunnuntaina joka 15. henkil&ouml;ll&auml;. Monet Loviisan k&auml;vij&ouml;ist&auml; olivat k&auml;yneet aikaisempina vuosina katsomassa taloja ja ottivat nyt aikaa kiert&auml;&auml;kseen antiikkimarkkinoita ja kirpputoreja, monet nauttivat vain yleisesti kaupungin idyllist&auml; ja letke&auml;st&auml; tunnelmasta.</p>
		<p>Koska LWT ker&auml;&auml; nykyisell&auml;&auml;n ymp&auml;rilleen niin paljon muitakin aktiviteetteja, k&auml;ytettyjen rannekkeiden yhteenlaskettu m&auml;&auml;r&auml; oli hieman alhaisempi kuin viime vuonna eli noin 5 500 joskin viikonlopun k&auml;vij&auml;m&auml;&auml;r&auml;ksi arvioitiin yhteens&auml; noin 14 000. Sunnuntai 28.8. sujui hieman rauhallisimmissa merkeiss&auml; kuin lauantai, vaikka talorannekkeita myytiin suurin piirtein saman verran kuin edellisen&auml; p&auml;iv&auml;n&auml;.</p>
		<p>Lauantaina  27.8. tehtiin kaikkien aikojen Loviisa-vierailijoiden yleis&ouml;enn&auml;tys yhden p&auml;iv&auml;n aikana - niin tori, kadut kuin parkkipaikat olivat tupaten t&auml;ynn&auml;. Vierailijat saivat silti hyv&auml;&auml; palvelua ja v&auml;liaikaiset pop up -ravintolat tulivat hyv&auml;&auml;n tarpeeseen. &Ouml;lvin Rantatiell&auml; myi yli 400 ruoka-annosta jo lauantain aikana ja sek&auml; &Ouml;lvin ett&auml; Hotel Degerbyn Bulevardikrouvi palvelivat viikonlopun aikana tuhansia asiakkaita.</p>
		<p>Pahimmilta ruuhkilta selvittiin, sill&auml; monet tottuneet k&auml;vij&auml;t aloittivat talokierroksensa t&auml;n&auml; vuonna Garnisonin alueelta. Vaikka kaikki eiv&auml;t kirjoita nimi&auml;&auml;n vieraskirjoihin, Garnisonin alueella kirjattiin noin 2500 nime&auml;. Siell&auml; pantiin merkille, ett&auml; paikalla oli paljon enemm&auml;n helsinkil&auml;isi&auml; kuin aiempina vuosina. Iloisia matkaseurueita tuli my&ouml;s Pohjanmaalta ja Savosta.</p>
		<p>Villa Aaltosessa k&auml;vi lauantaina yli 2 000 ihmist&auml; - uusi enn&auml;tys yhden p&auml;iv&auml;n aikana.</p>
		<p>Keskustan uutuuskohde Ajurintalon vieraskirjaan kertyi yli 3 000 nime&auml;. Et&auml;kohteista Labbyn kartano ja v&auml;entupa ker&auml;siv&auml;t vierailijoita l&auml;helt&auml; ja kaukaa: heid&auml;n vieraskirjastaan l&ouml;ytyi nelisensataa nime&auml;.</p>
		<p>Loviisan kulttuuri- ja ymp&auml;rist&ouml;liikkeen j&auml;rjest&auml;m&auml; Panu Kailan korjausklinikka veti raatihuoneen salin t&auml;yteen. Ker&auml;ilymessuilla k&auml;vi tuhansia kiinnostuneita. Historiallisessa alakaupungissa oli kirppis l&auml;hes joka talon edess&auml;. ITUtorin myyjien tyytyv&auml;isyydest&auml; kertoo se, ett&auml; kaikki varasivat paikan ensi vuodeksi.</p>
		<p>Kehitysministeri Heidi Hautala toi valtioneuvoston tervehdyksen LWT:n "Remppa"seminaariin ja kertoi olevansa paikalla my&ouml;s kiinnostuneena yksityishenkil&ouml;n&auml;, sill&auml; h&auml;n kunnostaa vanhaa kartanoa It&auml;-Suomessa. Ministeri saikin talokierrosten aikana monta k&auml;ytt&ouml;kelpoista remonttivinkki&auml; ja l&ouml;ysi monia pitk&auml;&auml;n etsimi&auml;&auml;n tarvikkeita Suolatorilta.</p>
		<p>Suolatorin n&auml;ytteilleasettajat olivat j&auml;lleen eritt&auml;in tyytyv&auml;isi&auml; osuuteensa. Uudet yritt&auml;j&auml;t kuten esimerkiksi Porvoon Vaskisep&auml;t olivat suorastaan innoissaan p&auml;ivien tunnelmasta, k&auml;vij&ouml;iden m&auml;&auml;r&auml;st&auml; ja siit&auml;, miten hyvin p&auml;ivien aikana tavoittaa perinnerakentamisesta todella kiinnostuneita ja ammattiapua tarvitsevia asiakkaita.</p>
	</div>
</div>

</div>