<p class="info-links">
  <span id="0" class="link">Ty&ouml;n&auml;yt&ouml;ksi&auml;, neuvontaa, n&auml;ytteilleasettajia</span><span id="1" class="link">Majoitus</span><span id="2" class="link">Ravintolat & kahvilat</span><span id="3" class="link">Yhteisty&ouml;ss&auml;</span>
</p>

<h1>Ty&ouml;n&auml;yt&ouml;ksi&auml;, neuvontaa ja n&auml;ytteilleasettajia 2010</h1>
<div class="info c">

<div>
<h2>Axxel Kuggom, Suolatori</h2>
<p>Historiallisten k&auml;sit&ouml;iden linjan oppilaat: nahka, sarvi ja luut&ouml;it&auml; ty&ouml;n&auml;yt&ouml;ksin&auml;.</p>
<p>Kansanopistokoulutusta, aikuis- ja ammattiopintoja sek&auml; lyhytkursseja. Esill&auml; oppilaiden tekem&auml; vene.</p>
</div>

<div>
<h2>H&auml;meen Sininen Ikkuna Oy, Suolatori</h2>
<p>Ikkunaentis&ouml;ij&auml; Tiina Torniainen:</p>
<p>vanhojen ikkunoiden entis&ouml;inti&auml; perinteisin menetelmin.</p>
</div>

<div>
<h2>Edupoli/PRO-paja, Suolatori</h2>
<p>Vanhojen peiliovien ja ikkunoiden kunnostusta</p>
</div>

<div>
<h2>Lars Warius, Kanttorila</h2>
<p>Kristallikruunujen entis&ouml;inti- ja puhdistus</p>
</div>

<div>
<h2>Loviisan Seudun Karjala-Seura ry, ITU-Tori</h2>
<p>Kansallispukuiset henkil&ouml;t esittelem&auml;ss&auml; seuraa sek&auml; vanhoja k&auml;sity&ouml;tapoja (koukkuaminen ym)</p>
</div>

<div>
<h2>Silmu ry, ITU-Tori</h2>
<p>Hanketukea</p>
</div>

<div>
<h2>Svenska Kulturfonden, ITU-Tori</h2>
<p>stipendit ja avustukset</p>
</div>

<div>
<h2>Kuhlefeltin talo (#1)</h2>
<p>arvorakennuksen saneerauksen ty&ouml;suunnitelma</p>
</div>

<div>
<h2>Kappeli (#5)</h2>
<p>Arvorakennusta palautetaan 1880-luvun malliin, nyt keskityt&auml;&auml;n ikkunoiden korjaamiseen. Maalarimestari Airi Kallio vastaa kysymyksiin.</p>
</div>

<div>
<h2>Degerby Gillen viereisess&auml; talossa</h2>
<p>arkkitehtitoimisto Kai Andersson kertoo Mariankatu 2 a:n rakennussuunnitelmista. La-su klo 15-17.</p>
</div>
 
<div>
<h2>Villa Hanna (#8)</h2>
<p>Talon kunnostuksesta vastaava rakennusinsin&ouml;&ouml;ri Christer Westerholm vastaa yleis&ouml;n kysymyksiin -  kohteessa talousrakennusten julkisivun saneeraus ja kes&auml;keitti&ouml;n rakentaminen.</p>
</div>

<div>
<h2>Smirnoffin talo (#9)</h2>
<p>1800-luvun kiinteist&ouml;n asuntoja kunnostetaan: kaksi niist&auml; on ja n&auml;ht&auml;viss&auml;. Kiinteist&ouml;n vanha talousrakennus on paraikaa ty&ouml;n alla.</p>
</div>

<div>
<h2>Liisantalo (#11)</h2>
<p>Saviyhdistyksen edustaja kertoo Tuhannen Tuskan kahvilan savisein&auml;n valmistuksesta.</p>
</div>
 
<div>
<h2>Ringstr&ouml;ms g&aring;rd (#16)</h2>
<p>Puutarhasuunnitelman esittely.</p>
</div>

<div>
<h2>Villa Jose (#18)</h2>
<p>Eija Klaucken tekem&auml;n puutarhasuunnittelman esittely.</p>
</div>

<div>
<h2>Myllykyl&auml;n kartano, Tesjoki</h2>
<p>Muurari Raine Huovilan perinnemuurauksen ty&ouml;n&auml;yt&ouml;s Myllykyl&auml;n pajassa, vanhan ahjon entis&ouml;inniss&auml; la klo 10-17.</p>
</div>

<div>
<h2>Rautaparta, Ruukki</h2>
<p>Kaleva Tikkam&auml;ki kertoo Joroisista siirretyn 1800-luvun talon pystytyksest&auml; ja rakennus- sek&auml; l&auml;mmitysratkaisuista la-su klo 10-17.</p>
</div>

<div>
<h2>Isn&auml;s, Kuusikallio, Ed&ouml;ntie 126 as 2</h2>
<p>Hienopuusepp&auml; Oula-Heikki Rantanen kertoo perinneremontista ja neuvoo sen ongelmissa.</p>
</div> 

<div>
<h2>Kaakelitehdas, Suolatori</h2>
<p>Perinteisi&auml; kaakeliuuneja ja korjauskaakeleita vanhoihin uuneihin</p>
</div>

<div>
<h2>Kymenlaakson s&auml;hk&ouml;, Suolatori</h2>
<p>Wattivaunu</p>
</div> 

<div>
<h2>Loviisan kaupunki, Suolatori</h2>
<p>Infoteltta</p>
</div> 

<div>
<h2>Perinnemestari/WSOY, Suolatori</h2>
<p>Tulevana syksyn&auml; julkaistavan perinnemestarikirjan esittely.</p>
</div> 

<div>
<h2>Porvoon Wanha Rautakauppa, Suolatori</h2>
<p>Korjaajan, entis&ouml;ij&auml;n ja vanhasta pit&auml;v&auml;n aarreaitta.</p>
</div> 

<div>
<h2>Rakennusperinteen Yst&auml;v&auml;t ry, Suolatori</h2>
<p>Perustettu valtakunnalliseksi yhteisty&ouml;kanavaksi rakennusperinteest&auml; ja kulttuuriperinteest&auml; kiinnostuneille.</p>
</div> 

<div>
<h2>Riosol, Suolatori</h2>
<p>Laaja valikoima erilaisia l&auml;mp&ouml;pumppuja.</p>
</div> 

<div>
<h2>Roseborgin Liiteri, Suolatori</h2>
<p>Uudesta vanhaan, vanhasta uutta. Vanhoja rakennustarvikkeita sek&auml; verkkokauppa.</p>
</div> 

<div>
<h2>Suomalaiset Tulisijat/Muuratut tulisijat jaosto, Suolatori</h2>
<p>Kysy kaikesta muuraukseen liittyv&auml;st&auml;</p>
</div> 

<div>
<h2>Vartti, Suolatori</h2>
<p>Messulehti</p>
</div> 

</div>

<h1>Majoitus</h1>
<div class="info c">

<div>
<h2>Hotel Degerby</h2>
<p>Brandensteininkatu 17, keskusta</p>
<p class="phone">(019) 505 61</p>
<p><a href="mailto:reception@degerby.com" class="mail">reception@degerby.com</a></p>
<p><a href="http://www.degerby.com">www.degerby.com</a></p>
</div>

<div>
<h2>Hotelli Zilton</h2>
<p>Mariankatu 29, keskusta</p>
<p class="phone">(019) 533 191</p>
<p><a href="mailto:zilton@zilton.fi" class="mail">zilton@zilton.fi</a></p>
<p><a href="http://www.zilton.fi">www.zilton.fi</a></p>
</div>

<div>
<h2>Kapella</h2>
<p>Vuokrattava huoneisto, keskusta</p>
<p class="phone">0400 714 673</p>
<p><a href="mailto:info@kapella.fi" class="mail">info@kapella.fi</a></p>
<p><a href="http://www.kapella.fi">www.kapella.fi</a></p>
</div>

<div>
<h2>Majatalo Loviisa</h2>
<p>Sibeliuksenkatu 3, keskusta</p>
<p class="phone">040 835 7997</p>
<p><a href="mailto:info@majataloloviisa.fi" class="mail">info@majataloloviisa.fi</a></p>
<p><a href="http://www.majataloloviisa.fi">www.majataloloviisa.fi</a></p>
</div>

<div>
<h2>Ulrikanhovi</h2>
<p>Aamiaismajoitus</p>
<p>Kuhlefeltinkatu 35</p>
<p class="phone">040 183 7855</p>
<p><a href="mailto:ulrikakoti@rantakartano.fi" class="mail">ulrikakoti@rantakartano.fi</a></p>
<p><a href="http://www.ulrikakoti.fi">www.ulrikakoti.fi</a></p>
</div>

<div>
<h2>Tamminiemi Lomakeskus</h2>
<p>Leirint&auml;alue ja huoneita</p>
<p>Kapteenintie 1, keskusta</p>
<p class="phone">(019) 530 244, 0400 414 265</p>
<p><a href="mailto:tamminiemi@tamminiemi.net  " class="mail">tamminiemi@tamminiemi.net  </a></p>
<p><a href="http://www.tamminiemi.net">www.tamminiemi.net</a></p>
</div>

<div>
<h2>Trollbergets - Peikkovuoren Bed & Breakfast</h2>
<p>2 hengen majoitustila</p>
<p>Peikkovuorentie 5, keskusta</p>
<p class="phone"> 040 828 7903</p>
</div>

<div>
<h2>B & B Carita Sl&auml;tis</h2>
<p>m&ouml;kkimajoitusta Liljendalissa
<p class="phone">(019) 612 731, 0400 212 998</p>
<p><a href="http://kotisivu.dnainternet.net/cslatis">kotisivu.dnainternet.net/cslatis</a></p>
</div>

<div>
<h2>Embomin kartano</h2>
<p>B&B-majoitusta ryhmille tilauksesta, Embom</p>
<p class="phone">0400 602 089</p>
<p><a href="http://www.doit-int.fi">www.doit-int.fi</a></p>
</div>

<div>
<h2>Holiday Club R&ouml;nn&auml;s</h2>
<p>m&ouml;kkimajoitusta, R&ouml;nn&auml;s</p>
<p class="phone">0201 100 000</p>
<p><a href="mailto:asiakaspalvelu@hcresorts.com" class="mail">asiakaspalvelu@hcresorts.com</a></p>
<p><a href="http://www.hcresorts.com">www.hcresorts.com</a></p>
</div>

<div>
<h2>Huvila Ruhtinas</h2>
<p>m&ouml;kkimajoitusta, Ahvenkoski</p>
<p class="phone">0440 495 030</p>
<p><a href="mailto:ben.henriksson@fishermans.fi" class="mail">ben.henriksson@fishermans.fi</a></p>
<p><a href="http://www.fishermans.fi">www.fishermans.fi</a></p>
</div>

<div>
<h2>Kaarnaranta Bed & Breakfast</h2>
<p>Ed&ouml;ntie 142, Isn&auml;s</p>
<p class="phone">040 753 3524</p>
<p><a href="http://www.labby.fi">www.labby.fi</a></p>
</div>

<div>
<h2>Kuggomin m&ouml;kki</h2>
<p class="phone">(019) 512 174, 0440 512 174</p>
</div>

<div>
<h2>Kuningaskalastajan lomahuvila</h2>
<p>m&ouml;kkimajoitusta, Ahvenkoski</p>
<p class="phone">040 719 3637</p>
<p><a href="mailto:info@primapartnerrussia.com" class="mail">info@primapartnerrussia.com</a></p>
<p><a href="http://www.fishingholiday.fi">www.fishingholiday.fi</a></p>
</div>

<div>
<h2>Leirikeskus Kvarnudden</h2>
<p>ryhm&auml;majoitusta tilauksesta</p>
<p>Kvarnudden 103</p>
<p class="phone">040 546 5907</p>
<p><a href="mailto:kvarnudden@kvarnudden.fi" class="mail">kvarnudden@kvarnudden.fi</a></p>
<p><a href="http://www.kvarnudden.fi">www.kvarnudden.fi</a></p>
</div>

<div>
<h2>Lomat&auml;hdet, Armonlinna ja Saarnim&auml;ki</h2>
<p>lomahuoneistoja, Str&ouml;mforsin Ruukki</p>
<p class="phone">0400 568 251</p>
<p><a href="mailto:info@lomatahdet.fi" class="mail">info@lomatahdet.fi</a></p>
<p><a href="http://www.lomatahdet.fi">www.lomatahdet.fi</a></p>
</div>

<div>
<h2>Lomat&auml;hdet, Majatalo Krouvinm&auml;ki</h2>
<p>Puistokuja 19, Str&ouml;mforsin Ruukki</p>
<p class="phone">0400 568 251 (myynti), 045 138 0018 (p&auml;ivystys)</p>
<p><a href="mailto:info@lomatahdet.fi" class="mail">info@lomatahdet.fi</a></p>
<p><a href="http://www.lomatahdet.fi">www.lomatahdet.fi</a></p>
</div>

<div>
<h2>Mariebergin Loma Oy</h2>
<p>M&ouml;kkimajoitusta, R&ouml;nn&auml;s</p>
<p class="phone">(019) 610 870</p>
<p><a href="mailto:hotellihanhi@kolumbus.fi" class="mail">hotellihanhi@kolumbus.fi</a></p>
<p><a href="http://www.marieberginloma.fi">www.marieberginloma.fi</a></p>
</div>

<div>
<h2>M&ouml;kkimajoitusta Liljendalissa</h2>
<p class="phone">(019) 677 1041, 0400 607 415</p>
</div>

<div>
<h2>R&ouml;nn&auml;sin m&ouml;kit ja kokoustilat</h2>
<p>Meritie, R&ouml;nn&auml;s</p>
<p class="phone">0400 714 673</p>
<p><a href="mailto:info@ronnas.fi" class="mail">info@ronnas.fi</a></p>
<p><a href="http://www.ronnas.fi">www.ronnas.fi</a></p>
</div>

<div>
<h2>Sarfsal&ouml;/Sarvisalon Bed & Breakfast</h2>
<p>aamiaismajoitus, pitopalvelu, leipomo</p>
<p>Sarvisalontie 1050, H&auml;rk&auml;p&auml;&auml;</p>
<p class="phone">044 527 4270</p>
</div>

<div>
<h2>Solkulla, leiri- ja kurssikeskus</h2>
<p>Ryhm&auml;majoitusta tilauksesta</p>
<p>Horsl&ouml;kintie 339, Sarvisalo</p>
<p class="phone">0400 911 270, 0400 314 099</p>
<p><a href="mailto:marian.salmia@kolumbus.fi" class="mail">marian.salmia@kolumbus.fi</a></p>
<p><a href="http://www.solkulla.fi">www.solkulla.fi</a></p>
</div>

<div>
<h2>Villa Valko</h2>
<p>m&ouml;kkimajoitusta, Valko</p>
<p class="phone">040 719 3637</p>
<p><a href="mailto:info@primapartnerrussia.com" class="mail">info@primapartnerrussia.com</a></p>
<p><a href="http://www.fishingholiday.fi">www.fishingholiday.fi</a></p>
</div>

</div>
<h1>Ravintolat & kahvilat</h1>
<div class="info c">

<div>
<h2>Tuhannen Tuskan Kahvila</h2>
<p>Liisantalossa, Mariankatu 2 c</p>
<p>auki p&auml;ivitt&auml;in 10-18</p>
<p class="phone">(019) 531323, 0440 195971</p>
<p><a href="http://www.liisantalo.fi">www.liisantalo.fi</a></p>
</div>

<div>
<h2>Ankkurikahvio</h2>
<p>Avoinna touko-syyskuu</p>
<p>Loviisan torilla, keskusta</p>
</div>

<div>
<h2>Caf&eacute;-Restaurant Saltbodan</h2>
<p>Laivasilta 4, keskusta</p>
<p class="phone">(019) 532 572</p>
<p><a href="mailto:info@saltbodan.fi" class="mail">info@saltbodan.fi</a></p>
<p><a href="http://www.saltbodan.fi">www.saltbodan.fi</a></p>
<p>Avoinna kes&auml;isin</p>
</div>

<div>
<h2>Caf&eacute; Riikka</h2>
<p>Sepp&auml;l&auml;ntie 19, keskusta</p>
<p class="phone">(019) 533 955</p>
</div>

<div>
<h2>Caf&eacute; Taika Kahvila</h2>
<p>Arkkitehdintie 5 (S-market), keskusta</p>
<p class="phone">040 592 2108</p>
</div>

<div>
<h2>Chao Yang kiinalainen ravintola</h2>
<p>Mariankatu 20, keskusta</p>
<p class="phone">(019) 532 331</p>
</div>

<div>
<h2>Degerby Hotel - Ravintola Styrbord</h2>
<p>Brandensteininkatu 17, keskusta</p>
<p class="phone">(019) 50 561</p>
<p><a href="mailto:reception@degerby.com" class="mail">reception@degerby.com</a></p>
<p><a href="http://www.degerby.com">www.degerby.com</a></p>
</div>

<div>
<h2>Hotelli Zilton</h2>
<p>Mariankatu 29, keskusta</p>
<p class="phone">(019) 533 191</p>
<p><a href="mailto:zilton@zilton.fi" class="mail">zilton@zilton.fi</a></p>
<p><a href="http://www.zilton.fi">www.zilton.fi</a></p>
</div>

<div>
<h2>Kahvila & Keitt&ouml; Kardemumma</h2>
<p>Kuningattarenkatu 20, keskusta</p>
<p class="phone">050 60 861</p>
<p><a href="mailto:kardemumma@sulo.fi" class="mail">kardemumma@sulo.fi</a></p>
<p><a href="http://www.kardemumma.palvelee.fi">www.kardemumma.palvelee.fi</a></p>
</div>

<div>
<h2>Kahvila-Ravintola Laivasilta</h2>
<p>avoinna kes&auml;isin</p>
<p>Laivasilta, keskusta</p>
<p class="phone">(019) 530 112</p>
<p><a href="http://www.cdfastfood.fi">www.cdfastfood.fi</a></p>
</div>

<div>
<h2>Kievari Degerby Gille</h2>
<p>Sep&auml;nkuja 4, keskusta</p>
<p class="phone">(019) 50 561</p>
<p><a href="mailto:reception@degerby.com" class="mail">reception@degerby.com</a></p>
<p><a href="http://www.degerby.com">www.degerby.com</a></p>
</div>

<div>
<h2>Konditoria-Kahvila Vaherkyl&auml;-Ek</h2>
<p>Aleksanterinkatu 2, keskusta</p>
<p class="phone">(019) 531 610</p>
<p><a href="http://www.vaherkyla.fi">www.vaherkyla.fi</a></p>
</div>

<div>
<h2>Kotipizza Loviisa Motorest Ankkurituuli</h2>
<p>L&auml;nsikaari 3, keskusta</p>
<p class="phone">020 742 2170</p>
<p><a href="http://www.kotipizza.fi">www.kotipizza.fi</a></p>
</div>

<div>
<h2>Leipomo-Kahvila Corint</h2>
<p>Sepp&auml;l&auml;ntie 39, keskusta</p>
<p class="phone">(019) 533 484</p>
<p><a href="http://www.corint.fi">www.corint.fi</a></p>
</div>

<div>
<h2>Mehter Kebab & Pizza</h2>
<p>Kuningattarenkatu 16, keskusta</p>
<p class="phone">(019) 533 337</p>
<p><a href="http://www.mehter.fi">www.mehter.fi</a></p>
</div>

<div>
<h2>Neste Loviisan Ankkurituuli</h2>
<p>L&auml;nsikaari 3, keskusta</p>
<p class="phone">020 742 2170</p>
<p><a href="http://www.neste.fi">www.neste.fi</a></p>
</div>

<div>
<h2>Newroz Pizzeria</h2>
<p>Karlskronabulevardi 8, keskusta</p>
<p class="phone">(019) 535 155</p>
<p><a href="http://www.newroz.fi">www.newroz.fi</a></p>
</div>

<div>
<h2>Olympos Kebab & Pizzeria</h2>
<p>Nordenski&ouml;ldintie 2, keskusta</p>
<p class="phone">(019) 531 116</p>
</div>

<div>
<h2>Owen's Caf&eacute;</h2>
<p>Kauppakeskus Galleria</p>
<p>Kuningattarenkatu 11, keskusta</p>
<p class="phone">(019) 532 018</p>
</div>

<div>
<h2>Pirjon Grilli</h2>
<p>Esplanadinpuisto (liikuntahallia vastap&auml;&auml;t&auml;)</p>
<p class="phone">(019) 532 032</p>
</div>

<div>
<h2>Ravintola Bella Loviisa</h2>
<p>Mannerheiminkatu 2, keskusta</p>
<p class="phone">(019) 533 390</p>
<p><a href="mailto:bella@bellaloviisa.fi" class="mail">bella@bellaloviisa.fi</a></p>
<p><a href="http://www.bellaloviisa.fi">www.bellaloviisa.fi</a></p>
</div>

<div>
<h2>Restaurant & Catering Sakura</h2>
<p>Kuningattarenkatu 7, keskusta</p>
<p class="phone">(019) 517 1523</p>
<p><a href="mailto:sakura.catering@gmail.com" class="mail">sakura.catering@gmail.com</a></p>
<p><a href="http://www.sakura-catering.blogspot.com">www.sakura-catering.blogspot.com</a></p>
</div>

<div>
<h2>Lounasravintola Shell Loviisa</h2>
<p>Mannerheiminkatu 24, keskusta</p>
<p class="phone">(019) 531 539</p>
</div>

<div>
<h2>ST1 Loviisa ja Safcafe</h2>
<p>L&auml;nsikaari 1, keskusta</p>
<p class="phone">(019) 517 100</p>
<p><a href="http://www.st1loviisa.fi">www.st1loviisa.fi</a></p>
</div>

<div>
<h2>Thai Tip Food</h2>
<p>Kuningattarenkatu 18, II krs</p>
<p class="phone">050 3090 848</p>
<p><a href="mailto:tantip@sulo.fi" class="mail">tantip@sulo.fi</a></p>
<p><a href="http://www.thaitip.net">www.thaitip.net</a></p>
</div>

<div>
<h2>Ukkolan kes&auml;kahvila ja k&auml;sity&ouml;l&auml;ispuoti</h2>
<p>Kuhlefeltinkatu 35, keskusta</p>
<p class="phone">040 183 7855</p>
<p><a href="mailto:ulrikakoti@rantakartano.fi" class="mail">ulrikakoti@rantakartano.fi</a></p>
<p><a href="http://www.ulrikakoti.fi">www.ulrikakoti.fi</a></p>
</div>

<div>
<h2>Ulrikanhovi</h2>
<p>Kuhlefeltinkatu 35, keskusta</p>
<p class="phone">040 183 7855</p>
<p><a href="mailto:ulrikakoti@rantakartano.fi" class="mail">ulrikakoti@rantakartano.fi</a></p>
<p><a href="http://www.ulrikakoti.fi">www.ulrikakoti.fi</a></p>
<p>Ruokaa tilauksesta</p>
</div>

</div>

<h1>Yhteisty&ouml;ss&auml;</h1>

<div class="thanks c">
<div>
<a href="http://www.loviisa.fi"><img src="lwt/images/logo_loviisa.png"/></a>
</div>
<div>
<a href="http://www.uudenmaanliitto.fi"><img src="lwt/images/logo_uusimaa.png"/></a>
</div>
<div>
<a href="http://www.kulturfonden.fi"><img src="lwt/images/logo_fonden.png"/></a>
</div>
<div>
<a href="http://www.minedu.fi"><img src="lwt/images/logo_minedu.png"/></a>
</div>
<div>
<a href="http://www.fortum.fi"><img src="lwt/images/logo_fortum.png"/></a>
</div>
<div>
<a href="http://www.nordea.fi"><img src="lwt/images/logo_nordea.png"/></a>
</div>
<div>
<a href="http://www.vartti.fi"><img src="lwt/images/logo_vartti.png"/></a>
</div>
<div>
<a href="http://www.loviisansanomat.net"><img src="lwt/images/logo_lovari.png"/></a>
</div>
<div>
<a href="http://www.ostnyland.fi"><img src="lwt/images/logo_ostra.png"/></a>
</div>
<div>
<a href="http://www.perinnemestari.fi"><img src="lwt/images/logo_perinnemestari.png"/></a>
</div>
<div>
<a href="http://www.minervamartinoff.com"><img src="lwt/images/logo_martinoff.png"/></a>
</div>
<div>
<a href="http://www.eijasgarden.fi"><img src="lwt/images/logo_eija.png"/></a>
</div>
<div>
<a href="http://www.wanhassa-wara-parempi.fi"><img src="lwt/images/logo_kulttuuri.png"/></a>
</div>
<div>
<a href="http://www.roseborg.fi"><img src="lwt/images/logo_roseborg.png"/></a>
</div>
</div>

<h2>Kiit&auml;mme my&ouml;s:</h2>
<div class="thanks c">
<ul>
<li>Aktia</li>
<li>Degerby Gille</li>
<li>Eddie Bruce</li>
<li>FC-Loviisa</li>
</ul>
<ul>
<li>It&auml;-Uudenmaan Kyl&auml;t ry</li>
<li>It&auml;-Uudenmaan Osuuspankki</li>
<li>Kati Rapia</li>
<li>Kruunu-Apteekki</li>   
</ul>
<ul>
<li>Loviisan Puhelin</li>
<li>Loviisan Sanomat</li>
<li>Loviisan Seurakuntayhtym&auml;</li>
<li>Loviisan v&auml;rikauppa</li>
</ul>
<ul>
<li>Lovisa Gymnasium</li>
<li>L&auml;&auml;k&auml;riasema Ergo</li>
<li>Peak press</li>
<li>Tarra-Tac</li>
</ul>
</div>