<div class="magazine">
  <h1>Vartin messuliite 2010</h1>
  <a href="LWT-messulehti-2010.pdf"><img src="lwt/images/messulehti_2010-thumb.jpg"/></a>
</div>
<div class="magazine">
  <h1>Vartin messuliite 2009</h1>
  <a href="WWP-messulehti-2009.pdf"><img src="lwt/images/messulehti_2009-thumb.jpg"/></a>
</div>
<div class="c"></div>
