<div id="gallery">

<div class="new-house">
	<p><img src="lwt/images/star.png"/> nya hus 2011</p>
</div>

<div class="click-info">Klicka p&aring; bilden f&ouml;r att se flera bilder av huset.</div>

<div class="gallery c">

  <div class="housecontainer">
  <div class="house new" title="Karakt&auml;rsbyggnaden p&aring; Labby g&aring;rd flyttades sj&ouml;v&auml;gen fr&aring;n Sveaborg till det redan p&aring; 1300-talet k&auml;nda storgodset. Det traditionella herrg&aring;rsdslivet &auml;r i dag ett levande jordbruk och d&aring; Juha N&auml;ri  blev herre p&aring; g&aring;rden omvandlades jordbruket till modern biodynamisk produktion.  P&aring; g&aring;rden finns en ekobutik ock parken &aring;terst&auml;lls till sin forna prakt. P&aring; omr&aring;det finns &auml;ven Edesby medeltida museiomr&aring;de.">
  	<p class="number"></p>
    <h2>Labby g&aring;rd</h2>
    <p class="address">Labby g&aring;rd 49, Isn&auml;s</p>
    <img src="lwt/images/talot/labbynkartano/thumb.jpg">
	<a class="first" title="Kollaasi" href="lwt/images/talot/labbynkartano/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/1.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/2.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/3.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/4.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/5.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/6.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/7.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/8.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/9.jpg"></a>
	<a title="" href="lwt/images/talot/labbynkartano/10.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.labby.fi">&#187; www.labby.fi</a></div>
  </div>

  <div class="housecontainer">
  <div class="house new" title="I Labby g&aring;rdsmilj&ouml; finns flera gamla byggnader. Den gamla bagarstugan byggd redan p&aring; 1700-talet ligger i skuggan av en v&auml;ldig ask som &auml;r planterad &aring;r 1858. Byggnaden har tidigare haft ett vasstak av &ouml;stersj&ouml;typ och dess massiva l&auml;ngsg&aring;ende takbj&auml;lkar representerar samma stil. Huset har genom &aring;ren bebotts av familjer som arbetat p&aring; g&aring;rden. Nu har de sm&aring; bost&auml;derna hopslagits och tj&auml;nar som hem &aring;t Mauri N&auml;ri, som tidigare varit herre p&aring; g&aring;rden.">
  	<p class="number"></p>
    <h2>Gamla bagarstugan</h2>
    <p class="address">Labby g&aring;rd 49, Isn&auml;s</p>
    <img src="lwt/images/talot/vanhavaentupa/thumb.jpg">
	<a class="first" title="Kollaasi" href="lwt/images/talot/vanhavaentupa/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/1.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/2.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/3.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/4.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/5.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/6.jpg"></a>
	<a title="" href="lwt/images/talot/vanhavaentupa/7.jpg"></a>
  </div>
  </div>

  <div class="housecontainer">
  <div class="house new" title="Fotograf Nelli Palom&auml;ki och Rami Kinnunen, som h&aring;ller ett renoveringssabbats&aring;r, hittade sitt dr&ouml;mhem via en annons p&aring; Mets&auml;kyl&auml;n navettas anslagstavla. De har nu sedan &aring;rsskiftet bott i en av arbetarbost&auml;derna  vid Isn&auml;s s&aring;g -  byggd i slutet av 1800-talet - d&auml;r man redan tidigare renoverat en hel del. De har p&aring;b&ouml;rjat sin egen renovering i &ouml;vre v&aring;ningen, nedre v&aring;ningen med tapetsering mm. &auml;r gjord av de f&ouml;reg&aring;ende &auml;garna. Den gamla kakelugnen v&auml;ntar p&aring; att bli sammanst&auml;lld.">
  	<p class="number"></p>
    <h2>Kuusikallio 1</h2>
    <p class="address">Ed&ouml;ntie 126 as 1, Isn&auml;s</p>
    <img src="lwt/images/talot/kuusikallio1/thumb.jpg">
	<a class="first" title="Kollaasi" href="lwt/images/talot/kuusikallio1/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/1.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/2.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/3.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/4.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/5.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/6.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/7.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio1/8.jpg"></a>
  </div>
  </div>

  <div class="housecontainer">
  <div class="house new" title="I Bonga slott finns professor, konstn&auml;r Riitta Nelimarkkas konstmuseum och atelj&eacute;. Den privata sidan av slottet &ouml;ppnas efter n&aring;gra &aring;rs paus f&ouml;r allm&auml;nheten. Byggnaden uppf&ouml;rdes i jugendstil 1904-1906, men &auml;ndrades senare till ett st&aring;tligt slott med drag av nyklassism och funkkis. I mus&eacute;et finns &ouml;ver 200 konstverk f&ouml;r p&aring;seende, gjorda under 30 &aring;rs tid.  Det &auml;r v&auml;rt att g&aring; in p&aring; konstn&auml;rens hemsidor och titta p&aring; slottet och mus&eacute;et via video.">
  	<p class="number"></p>
    <h2>Bonga slott</h2>
    <p class="address">Linnankuja</p>
	<img src="lwt/images/talot/bonga/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/bonga/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/1.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/2.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/3.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/4.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/5.jpg"></a>
	<a title="" href="lwt/images/talot/bonga/6.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.nelimarkka.com">&#187; www.nelimarkka.com</a></div>
  </div>

  <div class="housecontainer">
  <div class="house new" title="Huset som byggdes redan i b&ouml;rjan av 1800-talet &auml;gdes till en b&ouml;rjan av Kejserliga Alexander Universitetet i Finland, sedermera Helsingfors Universitet. Det har funnit sju separata g&aring;rdsbyggnader p&aring; tomten, varav bagarstugan, byggd 1852 och senare f&ouml;rnyad, fortfarande finns kvar. Enligt tomtb&ouml;ckerna har huset &auml;ven &auml;gts av urmakarm&auml;stare A-Rubin. F&ouml;rra &aring;ret h&ouml;ll de nuvarande &auml;garna inte &ouml;ppet hus, d&aring; de renoverade bottenv&aring;ningen till sitt dr&ouml;mhem.">
  	<p class="number"></p>
    <h2>Villa Fenix</h2>
    <p class="address">Drottninggatan 10 a</p>
	<img src="lwt/images/talot/villafenix/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villafenix/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/1.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/2.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/3.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/4.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/5.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/6.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/7.jpg"></a>
	<a title="" href="lwt/images/talot/villafenix/8.jpg"></a>  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house new" title="Droskf&ouml;raren Alfred Lindfors l&auml;t bygga Formanshuset invid Saltbodstorget. Man anv&auml;nde troligen tillgodo plankor och stockar fr&aring;n byggnader som rivits ner p&aring; samma tomt. Det gamla f&ouml;rtjusande h&auml;ststallet finns kvar p&aring; tomten. I huset har &aring;tminstone en raksalong driven av sonen i huset samt &ouml;verl&auml;karens mottagning varit bel&auml;gna. Huset var &auml;ven en l&auml;ngre tid Lovisa polischefs hem.">
  	<p class="number"></p>
    <h2>Formansg&aring;rden</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 32</p>
	<img src="lwt/images/talot/ajurintalo/thumb.jpg">
	<a title="" class="first" href="lwt/images/talot/ajurintalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/5.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/6.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/7.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/8.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/9.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/10.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/11.jpg"></a>
	<a title="" href="lwt/images/talot/ajurintalo/12.jpg"></a>
  </div>
  </div>

</div>

<h1>Hus i Lovisa centrum</h1>

<div class="gallery c">
  
  <div class="housecontainer">
  <div class="house" title="Kommerser&aring;det Sucksdorff l&auml;t 1866 uppf&ouml;ra den st&aring;tliga villan f&ouml;r sin familj p&aring; &ouml;stra sidan av &ouml;n Garnison. Huset &ouml;vergick senare i borgm&auml;stare Georg Kuhlefelts &auml;go. I slutet av 1800-talet planerade stadens tr&auml;dg&aring;rdsm&auml;stare A.F. Rydberg en privat park kring huset, som n&aring;dde &auml;nda ner till Lovisaviken. Kuhlefelt hade under sin tj&auml;nstg&ouml;ring motarbetat Finlands f&ouml;rryskningspolitik, vilket ledde till att familjen utvisades 1904-05. Huset &auml;r en av Finlands mest k&auml;nda kvinnliga arkitekters, Eva Kuhlefelt-Ekelunds barndomshem.">
  	<p class="number">1</p>
    <h2>Kuhlefelts hus</h2>
    <p class="address">Kuhlefeltgatan 9</p>
    <img src="lwt/images/talot/kuhlefeltintalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kuhlefeltintalo/1.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Den ursprungliga stommen &auml;r fr&aring;n 1750-1800-talet, och huset har senare utvidgats i etapper. De tidigare m&ouml;rka innerv&auml;ggarna har under den senaste renoveringen f&aring;tt  ljusa ytor. Den vackra, gammaldags rosentr&auml;dg&aring;rden gr&auml;nsar till en damm som uppstod d&aring; bef&auml;stningarna byggdes p&aring; 1700-talet. H&auml;r l&ouml;per ocks&aring; Ehrensv&auml;rds naturstig som ringlar sig fram i den fredade lunden runt dammen.">
  	<p class="number">2</p>
    <h2>Kuninkaanlampi</h2>
    <p class="address">Kuhlefeltgatan 8</p>
    <img src="lwt/images/talot/kuninkaanlampi/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kuninkaanlampi/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/1.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/2.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/3.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/4.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/5.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/6.jpg"></a>
	<a title="" href="lwt/images/talot/kuninkaanlampi/7.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.kuninkaanlampi.fi">&#187; www.kuninkaanlampi.fi</a></div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Den gamla br&auml;nnvinsfabriken med sitt st&aring;tliga torn byggdes &aring;r 1876. Konstn&auml;r Kai Nissinen k&ouml;pte huset 1991 och b&ouml;rjade renovera det till en bostad, atelj&eacute; och galleri &aring;t sig sj&auml;lv. Galleriet finns i sj&auml;lva tornet som byggdes 1886, men det f&ouml;rlorade en del av sin ursprungliga h&ouml;jd i samband med rivningsraseriet p&aring; 1980-talet.">
  	<p class="number">3</p>
    <h2>Gamla br&auml;nnvinstornet</h2>
    <p class="address">Klapphusgatan 2</p>
    <img src="lwt/images/talot/vanhaviinatorni/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/vanhaviinatorni/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/1.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/2.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/3.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/4.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/5.jpg"></a>
	<a title="" href="lwt/images/talot/vanhaviinatorni/6.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="G&aring;rdsgruppen &auml;r fr&aring;n 1700-1800-talet. Saltbodan och den gamla jordk&auml;llaren &auml;r fr&aring;n 1700-talet. K&auml;llaren har gjorts till ett romantiskt sommarrum. Sj&auml;lva butiken &auml;r fr&aring;n 1800-talet. D&auml;r kan man, S&aring;V&auml;L inhandla gamla b&ouml;cker och skivor, som  beundra dekorationsm&aring;lningarna. I den stora tr&auml;dg&aring;rden invid &aring;n kan man st&ouml;ta p&aring; en hel del &ouml;verraskande detaljer.">
  	<p class="number">4</p>
    <h2>Wanha kauppa</h2>
    <p class="address">&ouml;stra Tullgatan 20</p>
    <img src="lwt/images/talot/wanhakauppa/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/wanhakauppa/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/1.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/2.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/3.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/4.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/5.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/6.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/7.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/8.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/9.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/10.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/11.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/12.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/13.jpg"></a>
	<a title="" href="lwt/images/talot/wanhakauppa/14.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Lovisa stads p&auml;rla fr&aring;n g&aring;ngna tider, Kapellet – som byggdes 1865 och som senare p&aring; grund av missk&ouml;tsel f&ouml;rfallit – h&ouml;r till de finaste av Lovisas v&auml;rdefastigheter. Kapellets v&auml;g mot en ny blomstring p&aring;b&ouml;rjades f&ouml;r tv&aring; &aring;r sedan d&aring; m&aring;larm&auml;staren Airi Kallio k&ouml;pte byggnaden och b&ouml;rjade visionera ett nytt centrum f&ouml;r kultur. Kapellet kommer sm&aring;ningom att &aring;terst&auml;llas till sin ursprungliga 1800-tals prakt och arbete finns s&aring; det r&auml;cker. En del av delarna som byggdes till 1946 &auml;r redan rivna och nu st&aring;r restaurering av f&ouml;nstrena i tur.">
  	<p class="number">5</p>
    <h2>Kapellet</h2>
    <p class="address">Kapellparken</p>
    <img src="lwt/images/talot/kappeli/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kappeli/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/1.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/2.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/3.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/4.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/5.jpg"></a>
	<a title="" href="lwt/images/talot/kappeli/6.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.loviisankappeli.net">&#187; www.loviisankappeli.net</a></div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Villa Hanna n&auml;mns i tomtb&ouml;ckerna f&ouml;rsta g&aring;ngen &aring;r 1825, men av husets byggnadsmaterial och -s&auml;tt att d&ouml;ma har stommen uppf&ouml;rts redan p&aring; 1700-talet. Gr&auml;nsen mellan den gamla och den nya stommen syns tydligt.  Det ursprungliga k&ouml;ket f&ouml;rst&ouml;rdes under andra v&auml;rldskrigets bombningar. Vinden med sina m&aring;nga intressanta detaljer inrymmer nu f&ouml;r&auml;ldrarnas sovrum.">
  	<p class="number">8</p>
    <h2>Villa Hanna</h2>
    <p class="address">&ouml;stra &aring;sv&auml;gen 14</p>
    <img src="lwt/images/talot/villahanna/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villahanna/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villahanna/1.jpg"></a>
	<a title="" href="lwt/images/talot/villahanna/2.jpg"></a>
	<a title="" href="lwt/images/talot/villahanna/3.jpg"></a>
	<a title="" href="lwt/images/talot/villahanna/4.jpg"></a>
	<a title="" href="lwt/images/talot/villahanna/5.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Mormors farfar till den nuvarande &auml;garen av det s.k. Smirnoffska huset f&ouml;renade flera hus av olika format till en L-formad helhet. I slutet av 1800-talet best&auml;mde sig statsr&aring;dinnan Smirnoff f&ouml;r att anv&auml;nda g&aring;rden som sommarvilla,. Hon flyttade till l&auml;genheten i &ouml;vre v&aring;ningen och nedre v&aring;ningen uppdelades i hyresbost&auml;der. Som b&auml;st renoveras olika delar av huset.">
  	<p class="number">9</p>
    <h2>Smirnoff's hus</h2>
    <p class="address">Drottninggatan 6</p>
    <img src="lwt/images/talot/smirnoffintalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/smirnoffintalo/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/5.jpg"></a>
	<a title="" href="lwt/images/talot/smirnoffintalo/6.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Villa Aaltonen byggdes i slutet av 1800-talet f&ouml;r ryska badg&auml;ster. V&auml;rdfolket bodde d&aring; i en g&aring;rdsbyggnad som flyttats dit fr&aring;n Lapptr&auml;sk. Den mindre byggnaden  har numera f&ouml;rsetts med en ny farstu. Tr&auml;dg&aring;rden &auml;r drygt 300 kvadratmeter. Den har rensats fr&aring;n ogr&auml;s och har utvecklats till  ett f&ouml;rtjusande blomsterhav som hela tiden ut&ouml;kas med nya tematiska element.">
  	<p class="number">10</p>
    <h2>Villa Aaltonen</h2>
    <p class="address">L&aring;nggr&auml;nd 12</p>
    <img src="lwt/images/talot/villaaaltonen/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villaaaltonen/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/1.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/2.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/3.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/4.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/5.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/6.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/7.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/8.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/9.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/10.jpg"></a>
	<a title="" href="lwt/images/talot/villaaaltonen/11.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset byggdes i b&ouml;rjan av 1800-talet. Det hade redan f&ouml;rklarats obeboeligt, men de nya &auml;garna har med respekt f&ouml;r traditionerna p&aring; egen hand renoverat huset till ett charmerande konstn&auml;rshem. Skomakarm&auml;starens gamla stall &auml;r numera ett f&ouml;rtjusande  kaf&eacute; - Tuhannen tuskan kahvila. Den stenlagda innerg&aring;rden &auml;r ett fantastiskt exempel p&aring; hur ocks&aring; en liten g&aring;rd kan bli en underbar tr&auml;dg&aring;rd.">
  	<p class="number">11</p>
    <h2>Liisantalo</h2>
    <p class="address">Meriegatan 2 C</p>
    <img src="lwt/images/talot/liisantalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/liisantalo/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/5.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/6.jpg"></a>
	<a title="" href="lwt/images/talot/liisantalo/7.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.liisantalo.fi">&#187; www.liisantalo.fi</a></div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset &auml;r byggt i b&ouml;rjan av 1800-talet, och var &aring;r 2005 i s&aring; el&auml;ndigt skick att bes&ouml;karna fr&aring;gade sig hur det alls skall g&aring; att g&ouml;ra n&aring;nting &aring;t det. Men huset har nu f&aring;tt en ny stenfot, nya stockvarv nertill, ett nytt tak och en ny farstu. Innerv&auml;ggarna &auml;r bekl&auml;dd&auml; med sp&auml;nnpapp som f&aring;tt nya f&auml;rger och p&aring; den lilla innerg&aring;rden har man skapat en tr&auml;dg&aring;rdsp&auml;rla som smeker b&aring;de syn- och smaknerver.">
  	<p class="number">12</p>
    <h2>Auringon puolella</h2>
    <p class="address">Mariegatan 2 B</p>
    <img src="lwt/images/talot/auringonpuolella/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/auringonpuolella/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/auringonpuolella/1.jpg"></a>
	<a title="" href="lwt/images/talot/auringonpuolella/2.jpg"></a>
	<a title="" href="lwt/images/talot/auringonpuolella/3.jpg"></a>
	<a title="" href="lwt/images/talot/auringonpuolella/4.jpg"></a>
	<a title="" href="lwt/images/talot/auringonpuolella/5.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.topos.fi">&#187; www.topos.fi</a></div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset &auml;r ursprungligen byggt &aring;r 1856. Det unga l&auml;rarparet som k&ouml;pte huset 1993 hade sannerligen anv&auml;ndning f&ouml;r hammare och spik d&aring; de under ett sabbats&aring;r fr&aring;n l&auml;rarjobbet vid sidan av studierna byggde en stor veranda. Man tog ocks&aring; itu med de misslyckade l&ouml;sningar som gjorts i samband med moderniseringar p&aring; 1980-talet, i enlighet med principerna f&ouml;r god byggnadsv&aring;rd och Museiverkets direktiv.">
  	<p class="number">13</p>
    <h2>Pitk&auml;np&ouml;yd&auml;ntalo</h2>
    <p class="address">Mariegatan 7</p>
    <img src="lwt/images/talot/pitkanpoydantalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/pitkanpoydantalo/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/5.jpg"></a>
	<a title="" href="lwt/images/talot/pitkanpoydantalo/6.jpg"></a> 
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Det st&aring;tligaste huset p&aring; Mariegatan byggdes 1806 och utvidgades 1835. Under 1800-talet bodde handelsfartygens v&auml;lb&auml;rgade kofferdiskeppare i den stora byggnaden, som omfattade sju rum och sex kakelugnar. Huset kallades Rosqvists hus, f&ouml;r att den &auml;gdes av samma sl&auml;kt i &ouml;ver hundra &aring;r. Man kan k&auml;nna historiens vingslag n&auml;r man r&ouml;r sig i huset fyllt av gamla m&ouml;bler, d&auml;r atmosf&auml;ren l&auml;ttas upp av r&ouml;rande gamla leksaker och olika nallebj&ouml;rnar.">
  	<p class="number">14</p>
    <h2>Kapteenintalo</h2>
    <p class="address">Mariegatan 3</p>
    <img src="lwt/images/talot/kapteenintalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kapteenintalo/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/5.jpg"></a>
	<a title="" href="lwt/images/talot/kapteenintalo/6.jpg"></a> 
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset byggdes p&aring; 1800-talet och har fungerat bl.a. som metodistkyrka fram till 1960-talet. Sedermera har f&ouml;nstren gjorts mera bostadsm&auml;ssiga, &auml;ven om den kyrkliknande valvkonstruktionen alltj&auml;mt syns i taket i det stora vardagsrummet i den ena gaveln. Byggnaden har en mycket speciell planl&ouml;sning: den arkitektfamilj som &auml;gde fastigheten p&aring; 1970-talet placerade sanitetsutrymmena och bastun mitt i huset.  Son b&auml;st m&aring;las de tr&auml;f&auml;rgade v&auml;ggpanelerna.">
  	<p class="number">15</p>
    <h2>Kyrkan</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 26</p>
    <img src="lwt/images/talot/kyrkan/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kyrkan/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/1.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/2.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/3.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/4.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/5.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/6.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/7.jpg"></a>
	<a title="" href="lwt/images/talot/kyrkan/8.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset &auml;r byggt kring &aring;r 1800. Efter den f&ouml;rsta tiden av skapande kaos har huset blivit ett fungerande hem f&ouml;r en konstn&auml;rsfamilj best&aring;ende av en komposit&ouml;r och en koreograf och deras tv&aring; d&ouml;ttrar. Mellanv&auml;ggar har rivits vilket har gett rymd och ljus. De tidigare tr&auml;f&auml;rgade v&auml;ggpanelerna har m&aring;lats ljusa, vilket ocks&aring; bidragit till k&auml;nslan av rymd.">
  	<p class="number">16</p>
    <h2>Ringstr&ouml;ms g&aring;rd</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 31</p>
    <img src="lwt/images/talot/ringstromsgard/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/ringstromsgard/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/ringstromsgard/1.jpg"></a>
	<a title="" href="lwt/images/talot/ringstromsgard/2.jpg"></a>
	<a title="" href="lwt/images/talot/ringstromsgard/3.jpg"></a>
	<a title="" href="lwt/images/talot/ringstromsgard/4.jpg"></a>
	<a title="" href="lwt/images/talot/ringstromsgard/5.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Man vet inte exakt n&auml;r den &auml;ldsta delen av huset &auml;r byggd, men byggnaden f&ouml;rekommer i anteckningar p&aring; kartor fr&aring;n 1793. Den del av huset, d&auml;r k&ouml;ket &auml;r bel&auml;get, &auml;r byggt 1860. De nya sanitetsutrymmenA  i samband med gamla verandan byggdes 2010. F&ouml;r att f&aring; tillst&aring;nd att bygga m&aring;ste man f&ouml;rbinda sig till att ytterv&auml;ggarnas material och f&auml;rg skulle motsvara byggnaden i &ouml;vrigt. Den nuvarande &auml;garen r&auml;ttade till golvytorna och isolerade v&auml;ggarna 1980-83. Samtidigt gjordes &auml;ven tv&aring; fina ugnar.">
  	<p class="number">17</p>
    <h2>Dunderfeldts hus</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 25</p>
    <img src="lwt/images/talot/dunderfeldtintalo/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/dunderfeldtintalo/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/dunderfeldtintalo/1.jpg"></a>
	<a title="" href="lwt/images/talot/dunderfeldtintalo/2.jpg"></a>
	<a title="" href="lwt/images/talot/dunderfeldtintalo/3.jpg"></a>
	<a title="" href="lwt/images/talot/dunderfeldtintalo/4.jpg"></a>
	<a title="" href="lwt/images/talot/dunderfeldtintalo/5.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Den &auml;ldsta delen av det gr&ouml;na huset &auml;r byggt omkring 1850 och det f&ouml;rsta k&ouml;pebrevet g&auml;llande fastigheten &auml;r fr&aring;n 1971. Huset har utvidgats senare b&aring;de p&aring; br&auml;dden och h&ouml;jden. Delen mot g&aring;rden byggdes i b&ouml;rjan av 1900-talet och vinden med mansardtak p&aring; 1940-talet. De nuvarande &auml;garna l&auml;t bygga tv&aring; sovrum och bastu p&aring; den tidigare kalla vinden. Man kan &auml;ven beundra tv&aring; vackra kakelugnar fr&aring;n Rakkolanjoki.">
  	<p class="number">18</p>
    <h2>Villa Jose</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 21</p>
    <img src="lwt/images/talot/villajose/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villajose/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villajose/1.jpg"></a>
	<a title="" href="lwt/images/talot/villajose/2.jpg"></a>
	<a title="" href="lwt/images/talot/villajose/3.jpg"></a>
	<a title="" href="lwt/images/talot/villajose/4.jpg"></a>
	<a title="" href="lwt/images/talot/villajose/5.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Tidens tand har g&aring;tt h&aring;rt &aring;t den lilla stugan som l&auml;nge st&aring;tt obebodd. Den &auml;r inritad p&aring; en stads-karta fr&aring;n 1825, men &auml;r tydligt byggd l&aring;ngt f&ouml;re det. Huset &auml;r av stock och har tv&aring; rum, och &auml;r omgivet av en liten och f&ouml;rtjusande innerg&aring;rd. Ett ypperligt exempel p&aring; hur det kan se ut d&aring; man st&aring;r inf&ouml;r en grundlig renovering av ett mer &auml;n tv&aring;hundra &aring;r gammalt hus.">
  	<p class="number">19</p>
    <h2>Sj&ouml;mansstugan</h2>
    <p class="address">Tr&auml;dg&aring;rdsgatan 13</p>
    <img src="lwt/images/talot/merimiehenmokki/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/merimiehenmokki/1.jpg"></a>
	<a title="" href="lwt/images/talot/merimiehenmokki/2.jpg"></a>
	<a title="" href="lwt/images/talot/merimiehenmokki/3.jpg"></a>
	<a title="" href="lwt/images/talot/merimiehenmokki/4.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Man vet inte exakt hur gammalt huset &auml;r, eftersom det flyttades till sin nuvarande plats fr&aring;n Ryssland i b&ouml;rjan av 1900-talet. Villa Lindholm &auml;r det enda hus som finns kvar av  byggnaderma uppe p&aring; &aring;sen under Lovisas badhusepok. Huset renoveras l&aring;ngsamt och pietetsfullt. De m&aring;nga vackra inredningsdetaljerna och m&ouml;blerna vittnar om alla de &aring;r de nuvarande &auml;garna tj&auml;nstgjort i Afrika och Fj&auml;rran &ouml;stern.">
  	<p class="number">20</p>
    <h2>Villa Lindholm</h2>
    <p class="address">S&ouml;dra &aring;sen 3 a</p>
    <img src="lwt/images/talot/villalindholm/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villalindholm/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/1.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/2.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/3.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/4.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/5.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/6.jpg"></a>
	<a title="" href="lwt/images/talot/villalindholm/7.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="F&ouml;rf&auml;der till den  nuvarande &auml;gare byggde huset &aring;r 1890. Den v&auml;nstra flygeln byggdes n&aring;got senare f&ouml;r ryska badg&auml;ster: ett st&ouml;rre rum f&ouml;r herrskapet, ett mindre  f&ouml;r tj&auml;narinnans bruk. Eftersom huset under alla &aring;r varit i samma sl&auml;kts &auml;go har det inte gjorts n&aring;gra st&ouml;rre ombyggnader eller reparationer utan man har endast reparerat det n&ouml;dv&auml;ndigaste.">
  	<p class="number">21</p>
    <h2>Villa Ekholm</h2>
    <p class="address">Kretsg&aring;ngen 8</p>
    <img src="lwt/images/talot/villaekholm/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/villaekholm/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/villaekholm/1.jpg"></a>
	<a title="" href="lwt/images/talot/villaekholm/2.jpg"></a>
	<a title="" href="lwt/images/talot/villaekholm/3.jpg"></a>
	<a title="" href="lwt/images/talot/villaekholm/4.jpg"></a>
	<a title="" href="lwt/images/talot/villaekholm/5.jpg"></a>
  </div>
  </div>
  
</div>

<div class="gmaps">
  <p><a href="http://maps.google.com/maps/ms?ie=UTF&msa=0&msid=215144343286808633934.0004a0081c5c3d775835c">Kolla l&auml;get p&aring; Google Maps!</a></p>
</div>

<h1>Hus i Lovisanejden</h1>

<div class="gallery c">

  <div class="housecontainer">
  <div class="house" title="I bostaden som ursprungligen bestod av fyra rum med spis, har man b&ouml;rjat renoveringen, som &auml;nnu p&aring;g&aring;r, &auml;nda fr&aring;n grunden. Tv&aring; somrar gick &auml;t d&aring; man rev bort de murkna delarna under golvet, vars sandb&auml;dd samlade fukt och orsakade tj&auml;le. Man avl&auml;gsnade rubb och stubb &auml;nda till berget, innan man satte in nya golv. Man har anv&auml;nt traditionella metoder och material - t&auml;tningen &auml;r gjord med lin och tj&auml;ra! Herren i huset, som &auml;r finsnickare, &auml;r stolt &ouml;ver att alla stockar har satts p&aring; plats p&aring; r&auml;tt s&auml;tt: j&auml;rn finner man endast i spikarna.">
  	<p class="number">A</p>
    <h2>Kuusikallio 2</h2>
    <p class="address">Ed&ouml;ntie 126 as 2, Isn&auml;s</p>
    <img src="lwt/images/talot/kuusikallio2/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/kuusikallio2/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio2/1.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio2/2.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio2/3.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio2/4.jpg"></a>
	<a title="" href="lwt/images/talot/kuusikallio2/5.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Den grundliga renoveringen av Pomola p&aring;b&ouml;rjades p&aring; h&ouml;sten 2009 och p&aring;g&aring;r fortfarande. husbondens , Yrj&ouml; L&auml;nsipuros erfarenhet av renovering begr&auml;nsades tidigare till att h&aring;lla en tr&auml;b&aring;t i skick. Han har l&auml;rt sig traditionella renoveringsmetoder genom praktisk arbete och genom att ta del i  olika kurser. Man har str&auml;vat till att h&aring;lla kvar allt det gamla, som &auml;r anv&auml;ndbart, s&aring;som den st&aring;tliga bakugnen. Familjemedlemmarna har gjort allt arbete sj&auml;lva, f&ouml;rutom el-arbeten och sanitetsutrymmen.">
  	<p class="number">B</p>
    <h2>Pihjalarinne 1</h2>
    <p class="address">Ed&ouml;ntie 130 as 2, Isn&auml;s</p>
    <img src="lwt/images/talot/pihlajarinne1/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/pihlajarinne1/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/1.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/2.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/3.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/4.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/5.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/6.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/7.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/8.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/9.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/10.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/11.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne1/12.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Punainen talo byggdes 1896. Fr&aring;n b&ouml;rjan bestod husets nedre v&aring;ning av fyra bost&auml;der med tv&aring; rum och i &ouml;vre v&aring;ningen fanns fyra rum med spis. De nuvarande &auml;garna bar i tio &aring;r in allt hush&aring;llsvatten, man drog in vattenledningar f&ouml;rst 2009. Samtidigt byggde man &auml;ven ett badrum, som &auml;r viktigt f&ouml;r en sm&aring;barnsfamilj. I &ouml;vrigt har man n&auml;rmast m&aring;lat om och tapetserat. Ett av rummen g&ouml;rs som b&auml;st om till atelj&eacute; f&ouml;r husets konstn&auml;rsv&auml;rdinna.">
  	<p class="number">C</p>
    <h2>Pihjalarinne 2</h2>
    <p class="address">Ed&ouml;ntie 130 as 1, Isn&auml;s</p>
    <img src="lwt/images/talot/pihlajarinne2/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/pihlajarinne2/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/1.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/2.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/3.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/4.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/5.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/6.jpg"></a>
	<a title="" href="lwt/images/talot/pihlajarinne2/7.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Huset &auml;r det nyaste av Isn&auml;s s&aring;gs gamla bost&auml;der. Det torde vara byggt  i b&ouml;rjan av 1900-talet: man har  hittat gamla dagstidningar fr&aring;n &aring;r 1907 i sk&aring;pen. Strukturen tyder p&aring; att det funnits 10 separata rum med egen eldstad. I den v&auml;stra gavelns bostad kan man se husets specialitet: den lodr&auml;ta br&auml;dkonstruktionen &auml;r t&auml;tad med en blandning av lin. mossa och lera. I l&aring;ngsam takt r&auml;ttar hus&auml;garna nu till ingrepp som under &aring;ren gjorts med material som inte passer i en gammal byggnad.">
  	<p class="number">D</p>
    <h2>Katajapuro</h2>
    <p class="address">Ed&ouml;ntie 134, Isn&auml;s</p>
    <img src="lwt/images/talot/katajapuro/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/katajapuro/1.jpg"></a>
	<a title="" href="lwt/images/talot/katajapuro/2.jpg"></a>
	<a title="" href="lwt/images/talot/katajapuro/3.jpg"></a>
	<a title="" href="lwt/images/talot/katajapuro/4.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Kvarnby g&aring;rds huvudbyggnad i Tessj&ouml; &auml;r veterligen byggd 1753 och har i tiden fungerat som g&auml;stgiveri.  Vid restaureringen av husets exteri&ouml;r 2006-2007 har man anv&auml;nt br&auml;der s&aring;gade av g&aring;rdens egna tr&auml;d. Br&auml;derna har m&aring;lats med r&ouml;dmylla och f&ouml;nsterkarmarna &auml;r gjorda enligt gammal modell 2006-2007. Renoveringen av huset p&aring;g&aring;r forts&auml;ttningsvis. G&aring;rdens stora bod &auml;r byggd p&aring; 1800-talet. Det ber&auml;ttas att byggnaden tj&auml;nat som rusth&aring;ll f&ouml;r resande redan p&aring; 1600-talet. Till g&aring;rden h&ouml;r ocks&aring; en stor ladug&aring;rd i sten.">
  	<p class="number">E</p>
    <h2>Kvarnby g&aring;rd</h2>
    <p class="address">Myllykyl&auml;ntie 13, Tesjoki</p>
    <img src="lwt/images/talot/myllykylankartano/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/myllykylankartano/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/1.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/2.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/3.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/4.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/5.jpg"></a>
	<a title="" href="lwt/images/talot/myllykylankartano/6.jpg"></a>
  </div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Det lilla huset som byggdes 1880 och tidigare kallades Mantas torp, k&ouml;ptes 2005 av tr&auml;dg&aring;rdsexperten Eija Klaucke som fritidsbostad, men blev inom kort hennes hem. Huset har varit tj&auml;nstebostad f&ouml;r Str&ouml;mfors bruk. &aring;r 1963 byttes de ruttna stockarna ut, ett vindf&aring;ng och en &ouml;ppen veranda byggdes. Intill huset ligger den unika upplevelsetr&auml;dg&aring;rden Eija´s garden (separat intr&auml;desavgift).">
  	<p class="number">F</p>
    <h2>Eijas Torp</h2>
    <p class="address">Elim&auml;entie 74, Ahvenkoski</p>
    <img src="lwt/images/talot/eijantorppa/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/eijantorppa/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/eijantorppa/1.jpg"></a>
	<a title="" href="lwt/images/talot/eijantorppa/2.jpg"></a>
	<a title="" href="lwt/images/talot/eijantorppa/3.jpg"></a>
	<a title="" href="lwt/images/talot/eijantorppa/4.jpg"></a>
	<a title="" href="lwt/images/talot/eijantorppa/5.jpg"></a>
  </div>
  <div class="houselink"><a href="http://www.eijasgarden.fi">&#187; www.eijasgarden.fi</a></div>
  </div>
  
  <div class="housecontainer">
  <div class="house" title="Det st&aring;tliga stockhuset fann man i Jorois 2005. Huset &auml;r byggt i b&ouml;rjan av 1800-talet. Huset b&ouml;rjade resas en aning f&ouml;rkortat intill stranden av Kymmene &auml;lv 2007. Smeden vid Bruket, Kaleva Tikkam&auml;ki, har i det stora hela rest huset p&aring; egen hand. De breda furubr&auml;derna h&auml;rstammas  fr&aring;n Fj&auml;rrkarelen, den st&aring;tliga bakugnen &auml;r byggd enligt &ouml;sterbottnisk modell. Bostadv&aring;ningen,  som innefattar 260 kvadratmeter,  kommer att v&auml;rmas upp med jordv&auml;rme fr&aring;n Kymmene &auml;lv och vedeldade ugnar.">
  	<p class="number">G</p>
    <h2>Rautaparta</h2>
    <p class="address">Myll&auml;rintie 2, Ruukki</p>
    <img src="lwt/images/talot/rautaparta/thumb.jpg">
	<a class="first" title="" href="lwt/images/talot/rautaparta/kollaasi.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/1.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/2.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/3.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/4.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/5.jpg"></a>
	<a title="" href="lwt/images/talot/rautaparta/6.jpg"></a>
  </div>
  </div>
  
</div>
</div>
