<a href="http://www.facebook.com/loviisanwanhattalot"><img src="lwt/images/lwt-fb.png" alt="Loviisan Wanhat Talot Facebookissa"/></a>
<a href="http://www.ostnyland.fi/wanhat-talot"><img src="lwt/images/lwt-ostra_fi.png" alt="Loviisan Wanhat Talot -tapahtumasaitti"/></a>
