<img src="lwt/images/slider-1.jpg" alt="" title="Vanhoja taloja, ihania koteja.."/>
<img src="lwt/images/slider-7.jpg" alt="" title="Historiallisia pihapiirej&auml; ja hurmaavia puutarhoja.."/>
<img src="lwt/images/slider-2.jpg" alt="" title="..taidetta, antiikkia ja lukemattomia kirppiksi&auml;"/>
<img src="lwt/images/slider-3.jpg" alt="" title="Kunniamaininta Vartin 'Vuoden Kaupunkiteko 2010'-kilpailussa"/>
<img src="lwt/images/slider-4.jpg" alt="" title="Suomen Arkkitehtiliiton SAFA-palkinto 2009"/>
<img src="lwt/images/slider-5.jpg" alt="" title="Uudenmaan Ymp&auml;rist&ouml;palkinto 2007 ja Loviisa-mitali 2008"/>
<img src="lwt/images/slider-6.jpg" alt="" title="Ruusujen hurmaa Loviisassa 8.-9. hein&auml;kuuta 2012"/>
